// ==========================================================

// OWN DESIGN / THE SWEB SITE FRAMEWORK URL: http://www.theswebsite.co.uk/ & http://www.own-design.com/
// Version: 1.0
// Based on 320 and Up by Andy Clarke URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
// UIKIT by YOOtheme URL: http://getuikit.com/ & http://yootheme.com/
// Licensed under MIT license. http://opensource.org/licenses/MIT

// ==========================================================

/* 1200 =================================================== */

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================

.typography--heading {

	h1, h2, h3, h4, h5, h6 {
		.font-size(50);
	}
}

.typography--intro {

	h1, h2, h3, h4, h5, h6 {
		.font-size(34);
	}

	p, li {
		.font-size(30);
	}
}

// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================

/* Form Fields */

form {

	.uk-input, .uk-textarea, .input-type, .uk-select {
		padding: 17px 24px;
		.font-size(13);
	}

	label {
		.font-size(16);

		&.label--checkbox {
			.font-size(14);
		}
	}
}

.form--contact-form {

	.uk-modal-body {
		padding: 100px;
		width: 900px;
		position: relative;
	}

	.block--heading {
		margin-bottom: 70px;

		img {
			position: absolute;
			top: 50px;
			right: 50px;
			width: 100%;
			max-width: 150px;
			height: auto;
		}
	}
}

// 6. LAYOUT 				==============================

/* Header */

/* Menu/Navigation */

.menu--main {

	ul {
		margin: 80px 0 0;

		li {
			padding: 20px 30px;
			.font-size(18);
		}
	}
}

.block--nav-toggle {
	padding: 32px 32px 40px;
	/*width: 1200px;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	position: absolute;

	a {
		position: absolute;
		top: 20px;
		right: 20px;
	}*/
}

/* Content Blocks */

/* Section: Banner Home */

.section--banner-home {

	.block--banner--slide {

		.inner--banner--slide {
			min-height: 600px;
		}

		/*.block--nav-toggle {
			width: 1200px;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			position: absolute;

			a {
				position: absolute;
				top: 20px;
				right: 20px;
			}
		}*/

		.block--heading {

			h1, h2, h3, h4, h5, h6 {
				.font-size(100);
			}
		}

		.block-icons {
			bottom: 100px;
		}
	}
}

/* Section: Banner Inner */

.section--banner-inner {

	.inner--banner--slide {
		min-height: 600px;
	}

	/*.block--nav-toggle {
		width: 1200px;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		position: absolute;

		a {
			position: absolute;
			top: 20px;
			right: 20px;
		}
	}*/

	.block--heading {

		h1, h2, h3, h4, h5, h6 {
			.font-size(60);
		}
	}
}

/* Section: Banner Property */

.section--banner-property {

	/*.block--nav-toggle {
		width: 1200px;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		position: absolute;

		a {
			position: absolute;
			top: 20px;
			right: 20px;
		}
	}*/

	.block--title-address {
		//margin-top: 40px;

		h1 {
			.font-size(45);
		}

		p {
			.font-size(21);
		}
	}
}

/* Section: Intro with Image */

.section--intro-with-img {

	.block--intro-with-img--copy {

		h1, h2, h3, h4, h5, h6 {
			.font-size(40);
		}
	}
}

/* Section: Intro */

.section--intro {
	padding: 70px 0 140px;

	.block--intro--icon {
		margin-bottom: 60px;
	}

	.block--intro--copy {

		&::before {
			bottom: -70px;
		}
	}
}

/* Section: Points Columns */

.section--points-columns {
	padding: 70px 0;

	.border {
		top: -70px;
	}
}

/* Section: Entries Blocks */

.section--entries-blocks {

	.block--entry-block {
		margin-bottom: 90px;

		.block--eblock-img {

			.block--heading {
				top: 70px;
				padding: 30px;
				.box-sizing();
				min-width: 300px;
				text-align: right;

				h3 {
					.font-size(32);
				}
			}

			.block--icons {
				right: 30px;
				bottom: 40px;

				img {
					width: 100%;
				}
			}
		}

		.block--eblock-copy {
			padding: 80px 0;

			.block--icon {
				margin: 0 auto 60px;
				max-width: 400px;
			}

			.block--heading {
				margin: 0 auto 30px;
				max-width: 400px;

				h4 {
					.font-size(30);
				}
			}

			.block--copy {
				margin: 0 auto 60px;
				max-width: 400px;
			}

			.block--button {
				margin: 0 auto;
				max-width: 400px;
			}
		}

		&.layout--left {

			.block--eblock-img {

				.block--heading {
					text-align: left;
				}

				.block--icons {
					left: 30px;
					bottom: 40px;
				}
			}
		}
	}
}

/* Section: Entries List */

.section--entries-list {

	.uk-container {
		max-width: none;
	}

	.block--entry {
		margin-bottom: 120px;
		width: 100%;

		.block--heading {
			margin-bottom: 75px;
		}

		.block--content {
			max-width: 1120px;
		}

		.block--img {
			width: 600px;
			top: 45px;
			max-width: none;
		}

		.block--copy--outer {
			width: 700px;
			max-width: none;

			.inner--copy {
				padding: 50px 60px 110px 250px;

				.block--icon {
					margin-bottom: 40px;

					img {
						width: 220px;
					}
				}

				.block--copy {
					max-width: 400px;
				}
			}
		}

		.block--address {
			max-width: 360px;
			top: 374px;
			left: 20px;

			.inner--address {
				padding: 30px 40px 70px;

				h1, h2, h3, h4, h5, h6 {
					.font-size(24);
				}

				p, li {
					.font-size(18);

					strong {
						.font-size(24);
					}
				}
			}
		}

		&:first-child {

			&::before {
				left: -40px;
				top: -40px;
				width: calc(100% + 80px);
			}
		}
	}
}

/* Section: Text with Images */

.section--text-with-imgs {

	.block--text-with-imgs--copy {
		padding-top: 40px;
		max-width: 536px;

		h1, h2 {
			.font-size(35);
		}

		h3 {
			.font-size(28);
		}

		h4 {
			.font-size(24);
		}

		h5, h6 {
			.font-size(20);
		}
	}
}

/* Section: CTA Banner */

.section--cta-banner {
	padding: 100px 0 160px;

	.block--icon {
		top: 10px;
		left: 150px;
	}

	.block--heading {

		h1, h2, h3, h4, h5, h6 {
			.font-size(50);
		}
	}

	.block--ctas {
		margin-top: 80px;

		.block--cta {

			.link--cta {
				min-height: 342px;

				.cta--copy {

					.cta--icon {
						margin-bottom: 30px;
					}

					.cta--heading {
						margin-bottom: 30px;

						h2 {
							.font-size(40);
						}
					}

					.cta--subheading {

						h3 {
							.font-size(20);
						}
					}
				}
			}
		}
	}
}

/* Section: CTA Banner with Image */

.section--cta-banner-img {
	padding: 80px 0 100px;

	.block--icon {
		margin: 0 0 250px;
	}

	.block--ctas {

		.block--cta {

			.link--cta {
				padding: 50px 0;

				.cta--label {

					h2 {
						.font-size(30);
					}
				}

				.cta--icon {
					right: 30px;

					img {
						width: 100%;
					}
				}
			}
		}
	}
}

/* Section: Gallery */

.section--gallery {
	padding: 50px 0 60px;
}

/* Section: Website CTAs */

.section--website-ctas {
	padding: 60px 0;

	.uk-container {
		max-width: 1110px;
	}

	.block--subheading {

		h3 {
			.font-size(20);
		}
	}
}

/* Section: Property CTA Banner */

.section--property-cta-banner {
	padding: 100px 0;
}

/* Section: Property List */

.section--property-list {
	padding: 50px 0;

	.block--property {
		margin-bottom: 50px;

		.property--title {
			padding-left: 30px;

			h3 {
				.font-size(22);
			}
		}
	}
}

/* Section: Property Intro & Booking */

.section--intro-booking {
	padding: 50px 0;

	.block--intro {
		.box-sizing();
		max-width: none;
		padding-left: 40px;
	}
}

/* Section: Property Copy & Floorplans */

.section--copy-floorplans {
	padding: 50px 0;

	.block--copy {
		.box-sizing();
		max-width: 980px;
		padding-left: 40px;
	}

	.block--floorplans {
		padding-left: 40px;
	}
}

/* Section: Property Facilities */

.section--facilities {
	padding: 50px 0 100px;

	.block--heading {
		margin-bottom: 80px;
	}
}

/* Section: Property Also See */

.section--also-see {
	
	.block--property {
		margin-bottom: 50px;

		.property--title {
			padding-left: 30px;

			h3 {
				.font-size(22);
			}
		}
	}
}

/* Section: Advice Form */

.section--form {

	.uk-container {
		max-width: 800px;
	}

	.block--heading {

		h1, h2, h3, h4, h5, h6 {
			.font-size(50);
		}
	}
}

/* Footer */

.footer {

	/* Top Footer */

	.block--footer-top {
		padding: 78px 30px 120px;

		.uk-container {
			margin: 0 auto;
		}

		.block--footer-top--left {
			
			.inner--footer-top--left {
				max-width: 500px;
				padding-left: 20px;
				padding-top: 48px;

				.footer-menu {

					li {
						//.font-size(14);
						margin: 0;

						a {
							text-align: left;
							margin-bottom: 0;
						}
					}
				}
			}
		}

		.block--footer-top--right {

			.inner--footer-top--right {
				padding-top: 50px;
				padding-right: 40px;
				text-align: right;
			}
		}
	}

	/* Bottom Footer */

	.block--footer-bottom {
		padding: 13px 0;

		.uk-container {
			max-width: 1180px;
		}

		.block--footer-bottom--left {

			.inner--footer-bottom--left {
				padding-left: 10px;
				.box-sizing();

				ul {

					li {
						.font-size(12);
						margin: 0 6px 0 0;
						padding: 0 12px 0 0;

						&:after {
							top: 3px;
							height: 13px;
						}
					}
				}
			}
		}

		.block--footer-bottom--right {

			.inner--footer-bottom--right {
				padding-right: 10px;
				.box-sizing();

				p {
					.font-size(12);
					line-height: 2.2em;
				}
			}
		}
	}
}

// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================