// ==========================================================

// OWN DESIGN / THE SWEB SITE FRAMEWORK URL: http://www.theswebsite.co.uk/ & http://www.own-design.com/
// Version: 1.0
// Based on 320 and Up by Andy Clarke URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
// UIKIT by YOOtheme URL: http://getuikit.com/ & http://yootheme.com/
// Licensed under MIT license. http://opensource.org/licenses/MIT

// ==========================================================

/* 1600 =================================================== */

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================

.form--contact-form {

	.uk-modal-body {
		padding: 140px;
		width: 1000px;
	}

	.block--heading {
		margin-bottom: 80px;

		img {
			top: 75px;
			right: 70px;
		}
	}
}

// 6. LAYOUT 				==============================

body {

	&.uk-offcanvas-flip.uk-offcanvas-container-animation {
		left: -500px;
	}
}

/* Header */

/* Menu/Navigation */

.offcanvas--menu {

	.uk-offcanvas-bar {
		width: 500px;
		left: -500px;
	}
}

/* Content Blocks */

/* Section: Banner Home */

.section--banner-home {

	.block--banner--slide {

		.block--heading {

			h1, h2, h3, h4, h5, h6 {
				.font-size(120);
			}
		}

		.block-icons {
			bottom: 100px;
		}
	}
}

/* Section: CTA Banner with Image */

.section--cta-banner-img {
	padding: 80px 0 120px;

	.block--ctas {

		.block--cta {

			.link--cta {
				padding: 55px 0;

				.cta--icon {
					right: 50px;
				}
			}
		}
	}
}

/* Section: Entries List */

.section--entries-list {
	padding-bottom: 0;

	.block--entry {
		margin-bottom: 180px;

		.block--heading {
			margin-bottom: 80px;
		}

		.block--content {
			max-width: 1360px;
		}

		.block--img {
			width: 812px;
		}

		.block--copy--outer {
			width: 812px;

			.inner--copy {
				padding: 50px 60px 110px 340px;
			}
		}

		.block--address {
			max-width: 390px;
			top: 495px;
			left: 80px;

			.inner--address {
				padding: 40px 40px 70px;
			}
		}

		&:last-child {
			margin-bottom: 180px;
		}
	}
}

/* Section: Property Intro & Booking */

.section--intro-booking {

	.block--intro {
		//max-width: 510px;
		padding-left: 60px;
	}
}

/* Section: Property Copy & Floorplans */

.section--copy-floorplans {

	.block--copy {
		//max-width: 460px;
		padding-left: 60px;
	}

	.block--floorplans {
		padding-left: 60px;
	}
}

/* Footer */

// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================