// ==========================================================

// OWN DESIGN / THE SWEB SITE FRAMEWORK URL: http://www.theswebsite.co.uk/ & http://www.own-design.com/
// Version: 1.0
// Based on 320 and Up by Andy Clarke URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
// UIKIT by YOOtheme URL: http://getuikit.com/ & http://yootheme.com/
// Licensed under MIT license. http://opensource.org/licenses/MIT

// ==========================================================

/* 480 =================================================== */

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================



// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================

// Container

.uk-container {
	padding-left: 30px;
	padding-right: 30px;
}

// 6. LAYOUT 				==============================

/* Header */

.header {

	
}

/* Menus */

.block--nav-toggle {
	top: 6px;
	right: 30px;
	padding: 20px;

	img {
		width: 50px;
	}
}

/* Content Blocks */

/* Section: Banner Home */

.section--banner-home {

	.block--banner--slide {

		.inner--banner--slide {
			min-height: 400px;
		}

		/*.block--nav-toggle {
			top: 25px;
			right: 30px;

			img {
				width: 50px;
			}
		}*/

		.block--heading {

			h1, h2, h3, h4, h5, h6 {
				.font-size(70);
			}
		}

		&.block--banner--slide-wcbg {

			.block--banner--img {
				left: 0;
				top: 0;
				.translate(0, 0);
			}
		}
	}
}

/* Section: Banner Inner */

.section--banner-inner {

	.inner--banner--slide {
		min-height: 400px;
	}

	/*.block--nav-toggle {
		top: 25px;
		right: 30px;

		img {
			width: 50px;
		}
	}*/
}

/* Section: Banner Property */

.section--banner-property {

	/*.block--nav-toggle {
		top: 25px;
		right: 30px;

		img {
			width: 50px;
		}
	}*/
}

/* Section: Intro */

.section--intro {

	.block--intro--icon {
		margin-bottom: 30px;
	}
}

/* Section: Points Columns */

.section--points-columns {

	.border {
		width: calc(100% - 60px);
	}
}

/* Section: Entries Blocks */

.section--entries-blocks {

	.block--entry-block {

		.block--eblock-img {
			height: 340px;

			.block--heading {
				top: 30px;
			}
		}

		.block--eblock-copy {
			padding: 35px;

			.block--icon {
				margin: 0 0 35px;
			}

			.block--heading {
				margin: 0 0 30px;
			}

			.block--copy {
				margin: 0 0 30px;
			}
		}
	}
}

/* Section: Entries List */

.section--entries-list {

	.block--entry {
		margin-bottom: 35px;

		.block--copy--outer {

			.inner--copy {
				padding: 35px;

				.block--icon {
					margin-bottom: 35px;

					img {
						width: 175px;
					}
				}

				.block--button {
					margin-top: 35px;
				}
			}
		}

		.block--address {

			.inner--address {
				padding: 35px;
			}
		}

		&:first-child {

			&::before {
				left: -30px;
				top: -40px;
				width: calc(100% + 60px);
			}
		}
	}
}

/* Section: CTA Banner with Image */

.section--cta-banner-img {
	padding: 50px 0 60px;

	.block--icon {
		margin: 0 0 60px;
	}

	.block--ctas {

		.block--cta {

			.link--cta {
				padding: 35px 0;

				.cta--label {

					h2 {
						.font-size(24);
					}
				}
			}
		}
	}
}

/* Section: Property CTA Banner */

.section--property-cta-banner {
	padding: 50px 0;

	.block--icon {
		margin-bottom: 30px;
	}

	.block--button {
		margin-top: 40px;
	}
}

/* Section: Advice Form */

.section--form {
	padding: 35px 0;
}

/* Footer */

.footer {

	/* Top Footer */

	.block--footer-top {
		padding: 40px 0;

		.block--footer-top--right {

			.inner--footer-top--right {
				text-align: center;

				.social-list {
					margin: 0;
					padding: 0;
					list-style: none;

					li {
						margin: 0 10px;
						padding: 0;
						display: inline-block;

						a {
							.opacity(1);
							.transition(opacity 0.3s ease);
							display: block;

							img {
								display: block;
							}

							&:hover {
								.opacity(0.9);
							}
						}
					}
				}
			}
		}
	}

	/* Bottom Footer */

	.block--footer-bottom {

		.block--footer-bottom--left {

			.inner--footer-bottom--left {

				ul {

					li {
						margin: 0 6px 0 0;
						padding: 0 12px 0 0;
						display: inline-block;
						position: relative;

						&:after {
							position: absolute;
							right: 0;
							top: 4px;
							content: '';
							width: 1px;
							height: 18px;
							background: @white;
						}

						&:first-child {
							margin-left: 6px;
						}

						&:last-child {

							&:after {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}

// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================