// ==========================================================

// OWN DESIGN / THE SWEB SITE FRAMEWORK URL: http://www.theswebsite.co.uk/ & http://www.own-design.com/
// Version: 1.0
// Based on 320 and Up by Andy Clarke URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
// UIKIT by YOOtheme URL: http://getuikit.com/ & http://yootheme.com/
// Licensed under MIT license. http://opensource.org/licenses/MIT

// ==========================================================

/* 600 =================================================== */

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================

h1 {
	.font-size(26);
}

h2 {
	.font-size(22);
}

h3 {
	.font-size(20);
}

h4 {
	.font-size(18);
}

h5 {
	.font-size(15);
}

h6 {
	.font-size(15);
}

.typography--intro {

	h1, h2, h3, h4, h5, h6 {
		.font-size(28);
	}

	p, li {
		.font-size(24);
	}
}

// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================

// Container

.uk-container {
	padding-left: 35px;
	padding-right: 35px;
}

.form--contact-form {

	.uk-modal-body {
		padding: 50px;
	}

	.block--heading {
		margin-bottom: 45px;

		h1, h2, h3, h4, h5, h6 {
			.font-size(30);
		}
	}

	.block--form {

		form {

			label {

				&.label--checkbox {
					text-align: center;

					&.has-error {

						span {
							text-align: center;
						}
					}
				}
			}
		}
	}
}

// 6. LAYOUT 				==============================

/* Header */



/* Menus */

.block--nav-toggle {
	top: 6px;
	right: 30px;
	padding: 25px;

	img {
		width: 50px;
	}
}

/* Content Blocks */

/* Section: Banner Home */

.section--banner-home {

	.block--banner--slide {

		.inner--banner--slide {
			min-height: 500px;
		}

		/*.block--nav-toggle {
			top: 25px;
			right: 30px;

			img {
				width: 50px;
			}
		}*/

		.block--heading {

			h1, h2, h3, h4, h5, h6 {
				.font-size(70);
			}
		}

		.block-icons {
			bottom: 70px;
			left: 0;
			right: 0;
			margin: 0 auto;
			max-width: 340px;

			img {
				width: auto;
				height: 100px;
			}
		}
	}
}

/* Section: Banner Inner */

.section--banner-inner {

	.inner--banner--slide {
		min-height: 500px;
	}

	/*.block--nav-toggle {
		top: 25px;
		right: 30px;

		img {
			width: 50px;
		}
	}*/
}

/* Section: Banner Property */

.section--banner-property {

	/*.block--nav-toggle {
		top: 25px;
		right: 30px;

		img {
			width: 50px;
		}
	}*/

	.block--heading {
		margin-top: 25px;

		h2 {
			.font-size(28);
		}
	}

	.block--title-address {
		text-align: left;
		margin-top: 30px;

		h1 {
			.font-size(36);
		}

		p {
			.font-size(19);
		}
	}
}

/* Section: Intro with Image */

.section--intro-with-img {
	padding: 50px 0;

	.block--intro-with-img--copy {

		h1, h2, h3, h4, h5, h6 {
			.font-size(28);
		}

		p, li {
			.font-size(18);
		}
	}
}

/* Section: Intro */

.section--intro {
	padding: 50px 0 100px;

	.block--intro--icon {
		margin-bottom: 35px;
	}

	.block--intro--copy {

		&::before {
			bottom: -50px;
		}
	}
}

/* Section: Points Columns */

.section--points-columns {
	padding: 50px 0;

	.border {
		top: -50px;
		width: calc(100% - 70px);
	}

	.block--points-column {
		padding-bottom: 60px;

		.block--icon {
			margin-bottom: 25px;
		}

		.block--heading {

			h2 {
				.font-size(28);
			}
		}
	}
}

/* Section: Entries Blocks */

.section--entries-blocks {

	.block--entry-block {
		margin-bottom: 35px;

		.block--eblock-img {
			height: auto;

			.block--heading {
				top: 30px;
				padding: 20px 30px;

				h3 {
					.font-size(24);
				}
			}

			.block--icons {
				right: 15px;

				img {
					padding: 0 5px;
				}
			}

			&::before {
				width: 80px;
				height: 64px;
			}
		}

		&.layout--left {

			.block--eblock-img {

				.block--heading {
					left: auto;
					right: 0;
				}

				.block--icons {
					bottom: 20px;
					right: auto;
					left: 15px;
					text-align: left;

					img {
						padding: 0 5px;
					}
				}

				&::before {
					left: auto;
					right: 0;
				}
			}
		}
	}
}

/* Section: Entries List */

.section--entries-list {

	.block--entry {

		.block--img {
			max-width: 600px;
			margin: 0 auto;
		}

		.block--copy--outer {
			max-width: 600px;
			margin: 0 auto;
		}

		.block--address {
			max-width: 600px;
			margin: 0 auto;
		}

		&:first-child {

			&::before {
				left: -35px;
				top: -40px;
				width: calc(100% + 70px);
			}
		}
	}
}

/* Section: Text with Images */

.section--text-with-imgs {
	padding: 40px 0;

	.block--text-with-imgs--copy {

		h1, h2 {
			.font-size(32);
		}

		h3 {
			.font-size(26);
		}

		h4 {
			.font-size(22);
		}

		h5, h6 {
			.font-size(18);
		}
	}
}

/* Section: CTA Banner */

.section--cta-banner {
	padding: 45px 0 60px;
}

/* Section: CTA Banner with Image */

.section--cta-banner-img {
	padding: 60px 0 70px;

	.block--icon {
		margin: 0 0 80px;
	}

	.block--ctas {

		.block--cta {

			.link--cta {
				padding: 35px 0;

				.cta--label {

					h2 {
						.font-size(24);
					}
				}
			}
		}
	}
}

/* Heading */

.block--heading {

	.inner--heading {
		margin: 0 auto;
		max-width: 400px;
		padding: 0;

		h1, h2, h3, h4, h5, h6 {
			.font-size(36);
		}
	}
}

/* Section: Gallery */

.section--gallery {
	padding: 45px 0;

	.block--heading {
		margin-bottom: 45px;

		h1, h2, h3, h4, h5, h6 {
			.font-size(30);
		}
	}
}

/* Section: Property Gallery */

.section--property-gallery {
	padding: 0 0 40px;
}

/* Section: Website CTAs */

.section--website-ctas {
	padding: 45px 0;

	.block--subheading {
		margin-bottom: 10px;

		h3 {
			.font-size(18);
		}
	}

	.block--heading {
		margin-bottom: 45px;
	}

	.block--ctas {

		.cta--button {
			margin-top: 40px;
		}
	}
}

/* Section: Property CTA Banner */

.section--property-cta-banner {
	padding: 70px 0;

	.block--icon {
		margin-bottom: 50px;
	}

	.block--button {
		margin-top: 50px;
	}
}

/* Section: Property List */

.section--property-list {
	padding: 40px 0;

	.block--property {

		.property--title {

			h3 {
				.font-size(18);
			}
		}
	}
}

/* Section: Property Intro & Booking */

.section--intro-booking {
	padding: 30px 0;

	.block--intro {

		h1, h2, h3, h4, h5, h6 {
			.font-size(24);
		}
	}
}

/* Section: Property Copy & Floorplans */

.section--copy-floorplans {
	padding: 30px 0;
}

/* Section: Property Facilities */

.section--facilities {
	padding: 40px 0;

	.block--heading {
		margin-bottom: 45px;

		h1, h2, h3, h4, h5, h6 {
			.font-size(30);
		}
	}
}

/* Section: Property Also See */

.section--also-see {
	padding: 40px 0;

	.block--heading {
		margin-bottom: 45px;

		h1, h2, h3, h4, h5, h6 {
			.font-size(30);
		}
	}

	.block--property {

		.property--title {

			h3 {
				.font-size(18);
			}
		}
	}
}

/* Section: Form */

.section--form {
	padding: 40px 0;

	.block--form {
		margin-top: 40px;
	}
}

/* Footer */

.footer {

	/* Top Footer */

	.block--footer-top {
		padding: 40px 0;

		.block--footer-top--right {

			.inner--footer-top--right {
				text-align: center;

				.social-list {
					margin: 0;
					padding: 0;
					list-style: none;

					li {
						margin: 0 10px;
						padding: 0;
						display: inline-block;

						a {
							.opacity(1);
							.transition(opacity 0.3s ease);
							display: block;

							img {
								display: block;
							}

							&:hover {
								.opacity(0.9);
							}
						}
					}
				}
			}
		}
	}

	/* Bottom Footer */

	.block--footer-bottom {

		.block--footer-bottom--left {

			.inner--footer-bottom--left {

				ul {

					li {
						margin: 0 10px 0 0;
						padding: 0 17px 0 0;

						&:first-child {
							margin-left: 10px;
						}
					}
				}
			}
		}
	}
}

// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================