// ==========================================================

// OWN DESIGN / THE SWEB SITE FRAMEWORK URL: http://www.theswebsite.co.uk/ & http://www.own-design.com/
// Version: 1.0
// Based on 320 and Up by Andy Clarke URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
// UIKIT by YOOtheme URL: http://getuikit.com/ & http://yootheme.com/
// Licensed under MIT license. http://opensource.org/licenses/MIT

// ==========================================================

/* 960 =================================================== */

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================

h1 {
	.font-size(30);
}

h2 {
	.font-size(24);
}

h3 {
	.font-size(20);
}

h4 {
	.font-size(18);
}

h5 {
	.font-size(15);
}

h6 {
	.font-size(15);
}

.typography--heading {

	h1, h2, h3, h4, h5, h6 {
		.font-size(40);
	}
}

.typography--intro {

	h1, h2, h3, h4, h5, h6 {
		.font-size(28);
	}

	p, li {
		.font-size(26);
	}
}

// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================

// Container

.uk-container {
	padding-left: 40px;
	padding-right: 40px;
}

.form--contact-form {

	.uk-modal-body {
		padding: 80px;
		.box-sizing();
		width: 800px;
	}

	.block--heading {
		margin-bottom: 50px;

		h1, h2, h3, h4, h5, h6 {
			.font-size(30);
		}
	}
}

// 6. LAYOUT 				==============================

/* Header */

/* Menu/Navigation */

.menu--main {

	ul {
		margin: 60px 0 0;

		li {
			padding: 15px 30px;
			.font-size(15);
		}
	}
}

.block--nav-toggle {
	top: 6px;
	right: 25px;
	padding: 30px;
}

/* Content Blocks */

/* Section: Banner Home */

.section--banner-home {

	.block--banner--slide {

		.inner--banner--slide {
			min-height: 560px;
		}

		/*.block--nav-toggle {
			top: 20px;
			right: 25px;
		}*/

		.block--heading {

			h1, h2, h3, h4, h5, h6 {
				.font-size(80);
			}
		}

		.block-icons {
			bottom: 80px;
			max-width: 400px;

			img {
				padding: 0 20px;
			}
		}

		&.block--banner--slide-wcbg {

			.block--banner--img {
				left: 50%;
				top: 50%;
				.translate(-50%, -50%);
			}
		}
	}
}

/* Section: Banner Inner */

.section--banner-inner {

	.inner--banner--slide {
		min-height: 560px;
	}

	/*.block--nav-toggle {
		top: 20px;
		right: 25px;
	}*/

	.block--heading {

		h1, h2, h3, h4, h5, h6 {
			.font-size(48);
		}
	}
}

/* Section: Banner Property */

.section--banner-property {

	/*.block--nav-toggle {
		top: 20px;
		right: 25px;
	}*/

	.block--heading {
		margin-top: 20px;

		h2 {
			.font-size(33);
		}
	}

	.block--title-address {
		//margin-top: 40px;

		h1 {
			.font-size(40);
		}

		p {
			.font-size(20);
		}
	}
}

/* Section: Intro with Image */

.section--intro-with-img {
	padding: 30px 0;

	.block--intro-with-img--copy {
		text-align: left;

		h1, h2, h3, h4, h5, h6 {
			.font-size(36);
		}

		p, li {
			.font-size(18);
		}
	}
}

/* Section: Intro */

.section--intro {
	padding: 60px 0 120px;

	.block--intro--icon {
		margin-bottom: 50px;
	}

	.block--intro--copy {

		&::before {
			bottom: -60px;
		}
	}
}

/* Section: Points Columns */

.section--points-columns {
	padding: 60px 0;

	.border {
		top: -60px;
		width: calc(100% - 80px);
	}

	.block--points-column {
		padding-bottom: 80px;

		.block--heading {

			h2 {
				.font-size(30);
			}
		}
	}
}

/* Section: Entries Blocks */

.section--entries-blocks {

	.uk-container {
		max-width: 1360px;
	}

	.block--entry-block {
		margin-bottom: 40px;

		.block--eblock-img {

			.block--heading {
				top: 50px;
				padding: 30px;

				h3 {
					.font-size(28);
				}
			}

			.block--icons {
				right: 20px;
				bottom: 30px;

				img {
					padding: 0 10px;
				}
			}

			&::before {
				width: 100px;
				height: 80px;
			}
		}

		.block--eblock-copy {
			padding: 40px;

			.block--icon {
				margin: 0 0 40px;
			}

			.block--heading {
				margin: 0 0 40px;

				h4 {
					.font-size(28);
				}
			}

			.block--copy {
				margin: 0 0 40px;
			}
		}

		&.layout--left {

			.block--eblock-img {

				.block--icons {
					left: 20px;

					img {
						padding: 0 10px;
					}
				}
			}
		}
	}
}

/* Section: Entries List */

.section--entries-list {

	.block--entry {
		margin-bottom: 100px;
		position: relative;

		.block--heading {
			margin-bottom: 60px;
		}

		.block--content {
			position: relative;
			margin: 0 auto;
			max-width: 880px;
			width: 100%;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
		}

		.block--img {
			width: 480px;
			position: absolute;
			left: 0;
			top: 40px;
			z-index: 2;
		}

		.block--copy--outer {
			width: 540px;
			z-index: 1;
			margin: 0;

			.inner--copy {
				padding: 40px 60px 100px 180px;

				.block--icon {
					margin-bottom: 40px;

					img {
						width: 200px;
					}
				}

				.block--button {
					margin-top: 0;
					position: absolute;
					bottom: 0;
					left: 50%;
					.translate(-50%, 50%);
				}
			}
		}

		.block--address {
			max-width: 340px;
			position: absolute;
			top: 336px;
			left: 0;
			z-index: 2;

			.inner--address {
				padding: 25px;
			}
		}

		&:first-child {

			&::before {
				left: -40px;
				top: -40px;
				width: calc(100% + 80px);
			}
		}
	}
}

/* Section: Text with Images */

.section--text-with-imgs {
	padding: 50px 0;

	.block--text-with-imgs--copy {

		h1, h2 {
			.font-size(32);
		}

		h3 {
			.font-size(26);
		}

		h4 {
			.font-size(22);
		}

		h5, h6 {
			.font-size(18);
		}
	}
}

/* Section: CTA Banner */

.section--cta-banner {
	padding: 50px 0 70px;

	.uk-container {
		position: relative;
		max-width: 1360px;
	}

	.block--icon {
		position: absolute;
		top: 10px;
		left: 100px;

		img {
			width: 100%;
			height: auto;
		}
	}

	.block--heading {

		h1, h2, h3, h4, h5, h6 {
			.font-size(40);
		}
	}

	.block--intro {

		h1, h2, h3, h4, h5, h6, p {
			.font-size(22);
		}
	}

	.block--ctas {
		margin-top: 60px;

		.block--cta {

			.link--cta {
				min-height: 300px;

				.cta--copy {

					.cta--icon {
						margin-bottom: 25px;
					}

					.cta--heading {
						margin-bottom: 25px;

						h2 {
							.font-size(34);
						}
					}

					.cta--subheading {

						h3 {
							.font-size(18);
						}
					}
				}
			}
		}
	}
}

/* Section: CTA Banner with Image */

.section--cta-banner-img {
	padding: 70px 0 80px;

	.uk-container {
		max-width: 1360px;
	}

	.block--icon {
		margin: 0 0 120px;
	}

	.block--ctas {

		.block--cta {

			.link--cta {
				padding: 40px 0;

				.cta--label {

					h2 {
						.font-size(24);
					}
				}
			}
		}
	}
}

/* Section: Gallery */

.section--gallery {
	padding: 50px 0;

	.block--heading {
		margin-bottom: 50px;

		h1, h2, h3, h4, h5, h6 {
			.font-size(35);
		}
	}
}

/* Section: Website CTAs */

.section--website-ctas {
	padding: 50px 0;

	.block--subheading {

		h3 {
			.font-size(20);
		}
	}

	.block--heading {
		margin-bottom: 50px;
	}

	.block--ctas {

		.cta--button {
			margin-top: 50px;
		}
	}
}

/* Section: Property CTA Banner */

.section--property-cta-banner {
	padding: 80px 0;

	.block--button {
		margin-top: 60px;
	}
}

/* Section: Property List */

.section--property-list {
	padding: 40px 0;

	.block--property {
		margin-bottom: 40px;

		.property--title {
			text-align: left;
			padding-left: 25px;

			h3 {
				.font-size(20);
			}
		}
	}
}

/* Section: Property Intro & Booking */

.section--intro-booking {
	padding: 40px 0;

	.uk-container {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: calc(100% - 80px);
			height: 1px;
			left: 50%;
			bottom: -30px;
			background: @textdark;
			display: block;
			.translate(-50%, 0);
		}
	}

	.block--intro {

		h1, h2, h3, h4, h5, h6 {
			.font-size(28);
		}
	}
}

/* Section: Property Copy & Floorplans */

.section--copy-floorplans {
	padding: 40px 0;

	.block--floorplans {
		text-align: left;
	}
}

/* Section: Property Facilities */

.section--facilities {
	padding: 50px 0 80px;

	.block--heading {
		margin-bottom: 60px;

		h1, h2, h3, h4, h5, h6 {
			.font-size(35);
		}
	}
}

/* Section: Property Also See */

.section--also-see {
	padding: 50px 0;

	.block--heading {
		margin-bottom: 50px;

		h1, h2, h3, h4, h5, h6 {
			.font-size(35);
		}
	}

	.block--property {
		margin-bottom: 40px;

		.property--title {
			text-align: left;
			padding-left: 25px;

			h3 {
				.font-size(20);
			}
		}
	}
}

/* Section: Form */

.section--form {
	padding: 50px 0;

	.block--heading {

		h1, h2, h3, h4, h5, h6 {
			.font-size(40);
		}
	}

	.block--subheading {

		h1, h2, h3, h4, h5, h6 {
			.font-size(22);
		}

		p {
			.font-size(15);
		}
	}

	.block--form {
		margin-top: 50px;
	}
}

/* Footer */

.footer {

	/* Top Footer */

	.block--footer-top {
		padding: 56px 20px 100px;

		.block--footer-top--left {

			.inner--footer-top--left {
				text-align: left;
				padding-left: 40px;
				padding-top: 30px;

				.footer-menu {
					margin: 0;
					text-align: left;

					li {
						.font-size(12);
						margin: 0;
					}
				}
			}
		}

		.block--footer-top--right {

			.inner--footer-top--right {
				width: 100%;
				padding-top: 10px;
			}
		}
	}

	/* Bottom Footer */

	.block--footer-bottom {
		padding: 15px 0;

		.block--footer-bottom--left {

			.inner--footer-bottom--left {
				text-align: left;
				width: 100%;

				ul {

					li {
						.font-size(15);

						&:first-child {
							margin-left: 0;
							padding-left: 0
						}

						&:last-child {
							margin-right: 0;
							padding-right: 0
						}
					}
				}
			}
		}

		.block--footer-bottom--right {

			.inner--footer-bottom--right {
				text-align: right;
				width: 100%;

				p {
					.font-size(15);
				}
			}
		}
	}
}	

// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================