// ==========================================================

// OWN DESIGN / THE SWEB SITE FRAMEWORK URL: http://www.theswebsite.co.uk/ & http://www.own-design.com/
// Version: 1.0
// Based on 320 and Up by Andy Clarke URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
// UIKIT by YOOtheme URL: http://getuikit.com/ & http://yootheme.com/
// Licensed under MIT license. http://opensource.org/licenses/MIT

// ==========================================================

/* Page Base =================================================== */

// 1. ROOT 					==============================

* {
	//outline:none !important;
	//-webkit-appearance:none !important;
	//-moz-appearance:none !important;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

@-webkit-viewport { 
	width: device-width;
}

@-moz-viewport { 
	width: device-width;
}

@-ms-viewport { 
	width: device-width;
}

@-o-viewport { 
	width: device-width;
}

@viewport { 
	width: device-width; 
}

html {
	background: @bodycolor; 
	font-size: 62.5%;
	-webkit-overflow-scrolling: touch; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
	overflow-y: scroll;
}

body { 
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: transparent;
	font-family: @basefont;
	.font-size(16);
	line-height: @baselineheight;
	color: @textcolor;
	overflow-x: hidden;
}

::-moz-selection {
    color: @white;
    background: darken(@siteGreen, 3%);
}
::selection {
    color: @white;
    background: darken(@siteGreen, 3%);
}

.uk-progress {
    background-color: @white;
    border: none; /* Needed for Firefox */
    color: @white; /* For IE10 */
    -webkit-appearance: none; /* Needed for WebKit/Blink */
}
.uk-progress::-moz-progress-bar { 
    background-color: @white;
}
.uk-progress::-webkit-progress-value {
    background-color: @white;
}
.uk-progress::-webkit-progress-bar {
    background-color: @white;
}
// 2. TYPOGRAPHY 			==============================

/* Colour Fade Elements */

a, input, textarea, button, span, i, ul, li, select {
	text-decoration: none;
	-moz-transition-property: color, background-color, opacity, border-color;
	-moz-transition-duration: 0.3s;
	-webkit-transition-property: color, background-color, opacity, border-color;
	-webkit-transition-duration: 0.3s;
	transition-property: color, background-color, opacity, border-color;
	transition-duration: 0.3s;
}

h1, h2 ,h3 ,h4 ,h5 ,h6 {
	font-family: @baseheadingfont;
	line-height: 1.35em;
	margin: 0 0 25px;
	font-style: normal;
	font-weight: 700;

	strong, b {
		font-family: @baseheadingfont;
		font-weight: 700;
	}

	em, i {
		font-family: @baseheadingfont;
		font-style: italic;
	}
}

h1 {
	.font-size(24);
}

h2 {
	.font-size(20);
}

h3 {
	.font-size(18);
}

h4 {
	.font-size(16);
}

h5 {
	.font-size(14);
}

h6 {
	.font-size(14);
}

p {
	.font-size(15);
	line-height: 2em;
	margin: 0 0 20px;
	font-weight: 500;

	em {
		font-style: italic;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

strong, b {
	font-weight: 700;
}

ul, ol {
	margin: 0 0 25px 25px;
	padding: 0;
	list-style-position: outside;

	li {
		.font-size(15);
		line-height: 1.5em;
		margin: 0;
		padding: 0;
		font-weight: 500;
	}
}

a, .uk-link {
	color: @siteGreen;
	text-decoration: none;

	&:hover {
		color: @siteGreenDark;
		text-decoration: none;
	}
}

em, i {
	color: inherit;
}

.typography--heading {

	h1, h2, h3, h4, h5, h6 {
		.font-size(34);
	}
}

.typography--intro {

	h1, h2, h3, h4, h5, h6 {
		.font-size(24);
	}

	p, li {
		.font-size(20);
	}
}

// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================

/* Hide / Show */

.hide--element {
	.opacity(0);
	visibility: hidden;
}

.show--element {
	.opacity(1);
	visibility: visible;
}

/* Mixin: Vertical Align (Flex) */

.flex--vertical-align() {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

/* Button */

.uk-button {
	margin: 0;
	.font-size(15);
	color: @white;
	text-align: center;
	line-height: 64px;
	padding: 0 20px;
	background: @siteGrey;
	font-family: @basefont;
	.box-sizing();
	position: relative;
	.rounded(40px);
	min-width: 200px;
	border: 1px solid @siteGrey;

	&:hover {
		color: @siteGrey;
		background: transparent;
		border: 1px solid @siteGrey;
	}

	&:disabled {
		cursor: not-allowed;
	}

	&.uk-button-green {
		background: @siteGreen;
		border: 1px solid @siteGreen;

		&:hover {
			color: @siteGreen;
			background: transparent;
			border: 1px solid @siteGreen;
		}
	}

	&.uk-button-light-green {
		background: @siteLightGreen;
		border: 1px solid @siteLightGreen;

		&:hover {
			color: @siteLightGreen;
			background: transparent;
			border: 1px solid @siteLightGreen;
		}
	}

	&.uk-button-blue {
		background: @siteBlue;
		border: 1px solid @siteBlue;

		&:hover {
			color: @siteBlue;
			background: transparent;
			border: 1px solid @siteBlue;
		}
	}

	&.uk-button-grey {
		background: @siteGrey;
		border: 1px solid @siteGrey;

		&:hover {
			color: @siteGrey;
			background: transparent;
			border: 1px solid @siteGrey;
		}
	}

	&.uk-button-dark-grey {
		background: @textgrey;
		border: 1px solid @textgrey;
		color: @white;

		&:hover {
			color: @textgrey;
			background: transparent;
			border: 1px solid @textgrey;
		}
	}

	&.uk-button-white {
		background: @white;
		border: 1px solid @textgrey;
		color: @textgrey;

		&:hover {
			color: @white;
			background: @textgrey;
			border: 1px solid @textgrey;
		}
	}

	&.uk-button-red {
		background: @siteRed;
		border: 1px solid @siteRed;

		&:hover {
			color: @siteRed;
			background: @white;
			border: 1px solid @siteRed;
		}
	}
}

/* Form Fields */

form {

	.uk-input, .uk-textarea, .input-type, .uk-select {
		width: 100%;
		//padding: 17px 24px;
		padding: 15px;
		.box-sizing(border-box);
		.font-size(12);
		color: @textdark;
		border: 1px solid @white;
		margin: 0;
		height: auto;
		background: @white;
		.box-shadow(none);

		&::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
			color: @siteDarkGrey;
			.opacity(1);
		}

		&::placeholder {
			color: @siteDarkGrey;
			.opacity(1);
		}

		&:focus, &:hover {
			border: 1px solid @siteGreen;
			background: @white;
			color: @siteGreen;
		}

		&:required:focus {
			border: 1px solid @siteLightGreen;
			background: @white;
			color: @siteLightGreen;
			.box-shadow(none);

			&::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
				color: @siteLightGreen;
				.opacity(1);
			}

			&::placeholder {
				color:@siteLightGreen;
				.opacity(1);
			}
		}

		&:required:invalid {
			.box-shadow(none);
		}

		&:required:focus:invalid {
			.box-shadow(none);
			background: @siteRed;
			color: @white;
			border: 1px solid @siteRed;

			&::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
				color: @white;
				.opacity(1);
			}

			&::placeholder {
				color:@white;
				.opacity(1);
			}
		}

		&:required:valid {
			background: @white;
			color: @siteLightGreen;
			border: 1px solid @siteLightGreen;
			.box-shadow(none);

			&::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
				color: @white;
				.opacity(1);
			}

			&::placeholder {
				color:@white;
				.opacity(1);
			}
		}

		&:required:focus:valid {
			color: @siteGreen;
			.box-shadow(none);
		}

		&.error {
			.box-shadow(none);
			background: @siteRed !important;
			color: @white !important;
			border: 1px solid @siteRed !important;
			.box-shadow(none);

			&::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
				color: @white;
				.opacity(1);
			}

			&::placeholder {
				color:@white;
				.opacity(1);
			}

			&:required:valid {
				background: @siteRed;
				color: @white;
				border: 1px solid @siteRed !important;
			}
		}

		&.uk-button-primary {
			border: none;
			width: auto;
			.font-size(14);

			&:hover {
				cursor: pointer;
			}
		}
	}

	label {
		margin: 0 0 15px;
		display: block;
		color: @textdark;
		font-weight: 500;
		.font-size(18);
		text-align: center;

		a {
			color: @siteLightGreen;
			text-decoration: none;

			&:hover, &:focus {
				color: @siteGreen;
				text-decoration: none;
			}
		}

		&.has-error {

			.help-block {
				bottom: -25px;
				left: 0;
				right: 0;
			}
		}

		&.label--checkbox {
			.font-size(16);
			margin: 0;

			&.has-error {

				span {
					color: @siteRed;

					a {
						color: @siteRed;
					}
				}
			}
		}

		&.label--select {
			margin: 0 0 20px;
		}
	}

	.uk-textarea {
		max-width: 100% !important;
		min-width: 100% !important;
		min-height: 120px !important;
		padding: 10px 15px;
	}

	.uk-select {
		height: auto !important;
	}

	.field {
		position: relative;
	}

	.help-block {
 		animation-name: fadeIn;
 		text-align: center;
		.font-size(11);
		position: absolute;
		left: 30px;
		bottom: -25px;

		&.form-error {
			color: @siteRed;
		}
	}

	&.disabled {
		.opacity(.3);
	}

	.has-error {
		position: relative;
	}

	.has-success {

		.uk-input, .uk-textarea, .input-type, .uk-select {
			border: 1px solid @siteLightGreen;
			color: @siteLightGreen;
		}
	}
}

.uk-checkbox {
	width: 20px;
	height: 20px;
	border: 1px solid @white;
	margin-right: 10px;
	background-color: @white;
	display: inline-block;

	&:checked {
		background-color: @siteLightGreen;
		border: 1px solid @siteGreen;
		color: @white;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%2F%3E%0A%3C%2Fsvg%3E");
	}

	&:checked:focus, &:indeterminate:focus {
		background-color: @siteLightGreen;
		border: 1px solid @siteGreen;
		color: @white;
	}

	&:required:invalid {
		.box-shadow(none);
	}

	&:required:focus:invalid {
		.box-shadow(none);
		border: 2px solid @siteRed !important;
	}

	&.error {
		border: 2px solid @siteRed !important;
	}
}

.form-message {
	display: none;
	padding: 10px;
	margin-top: 15px;

	p {
		.font-size(15);
		color: @white;
		margin: 0 !important;
		line-height: 1.35em;
	}

	&.success {
		color: @white;

		p {
			color: @white;
		}
	}

	&.errors {
		background: transparent;
		color: @white;
		font-style: italic;

		p {
			color: @white;
			font-style: italic;
		}
	}
}

.form-terms {

	label {
		.font-size(12);
		max-width: 525px;
		display: block;
	}

	a {
		color: @siteRed;
		text-decoration: none;

		&:hover, &:focus {
			color: @siteBlue;
			text-decoration: none;
		}
	}
}

.form--contact-form {

	.uk-modal-body {
		padding: 40px;
	}

	.block--heading {
		margin-bottom: 40px;
		text-align: center;

		h1, h2, h3, h4, h5, h6 {
			color: @textgrey;
			.font-size(28);
			letter-spacing: 3px;
		}
	}

	.block--form {

		form {

			.uk-input, .uk-textarea, .input-type, .uk-select {
				border: 1px solid @textgrey;
			}

			label {
				text-align: left;
				font-family: @font-heading;
				.font-size(20);
				font-weight: 700;
				color: @textgrey;

				&.label--checkbox {

					&.has-error {

						span {
							text-align: left;
						}
					}
				}
			}

			.uk-checkbox {
				border: 1px solid @textgrey;
			}

			.button--form {
				margin-top: 20px;
			}
		}
	}
}

/*Break long email address*/

.email-address {
	-ms-word-break: break-all;
     word-break: break-all;

     // Non standard for webkit
     word-break: break-word;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

// Lightbox

.uk-lightbox {
	background: rgba(30,30,30,0.9);
}

// Background Styles


// Model


// Link



// Container

.uk-container {
	padding-left: 20px;
	padding-right: 20px;
}


// 6. LAYOUT 				==============================

body {

	&.uk-offcanvas-flip.uk-offcanvas-container-animation {
		overflow: hidden !important;
	}
}

/* Header */

.header {
	width: 100%;
	height: 6px;
	background: @headerGrey;
	position: relative;
	z-index: 3;

	.uk-container {
		position: relative;
	}

	&.uk-sticky {

		&.uk-active {

			.block--nav-toggle {
				background: rgba(247,242,243,0.8);
			}
		}
	}
}

/* Menu/Navigation */

.offcanvas--menu {

	.uk-offcanvas-bar {
		background: @headerGrey;
		padding: 0;
	}
}

.menu--main {
	margin: 0;
	padding: 0;

	ul {
		margin: 50px 0 0;
		padding: 0;
		list-style: none;

		li {
			margin: 0;
			padding: 12px 25px;
			border-bottom: 1px solid @white;
			.font-size(14);
			color: #40522c;
			line-height: 1.35em;

			a {
				color: #40522c;

				&:hover, &:focus {
					color: @siteLightGreen;
				}
			}

			&.uk-active {
				background: @siteLightGreen;;

				a {
					color: @white;
				}
			}
		}
	}
}

.block--nav-toggle {
	position: absolute;
	z-index: 3;
	top: 6px;
	right: 20px;
	padding: 15px;
	background: @siteLightGrey;

	img {
		width: 40px;
		height: auto;

		&.nav--close {
			display: none;
			visibility: hidden;
			.opacity(0);
		}
	}
}


/* Content Blocks */

/* Section: Banner Home */

.section--banner-home {
	overflow: hidden;

	.block--banner--slide {

		.inner--banner--slide {
			min-height: 380px;
		}

		.block--banner--img {
			z-index: 1;
		}

		/*.block--nav-toggle {
			position: absolute;
			z-index: 3;
			top: 20px;
			right: 20px;

			img {
				width: 40px;
				height: auto;

				&.nav--close {
					display: none;
					visibility: hidden;
					.opacity(0);
				}
			}
		}*/

		.block--logo {
			position: absolute;
			z-index: 3;
			left: 0;
			right: 0;
			width: 140px;
			margin: 0 auto;
			top: 50px;

			img {
				max-width: 140px;
				width: 100%;
				height: auto;
			}
		}

		.block--heading {
			position: absolute;
			z-index: 3;
			top: 50%;
			left: 50%;
			.translate(-50%, -50%);

			h1, h2, h3, h4, h5, h6 {
				.font-size(53);
				color: @white;
				margin: 0;
				font-family: @font-regular;
			}
		}

		.block-icons {
			position: absolute;
			z-index: 3;

			img {

			}
		}

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			z-index: 2;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.1);
			display: block;
		}

		&.block--banner--slide-wcbg {

			.block--banner--img {
				left: 0;
				top: 0;
				.translate(0, 0);
			}

			&::before {
				display: none;
			}
		}

		&.style--green {

			.block--heading {

				h1, h2, h3, h4, h5, h6 {
					color: @siteGreen;
				}
			}
		}

		&.style--light-green {

			.block--heading {

				h1, h2, h3, h4, h5, h6 {
					color: @siteLightGreen;
				}
			}
		}

		&.style--white, &.style--white {

			.block--nav-toggle {
				
				svg {

				}	
			}
		}
	}
}

/* Section: Banner Inner */

.section--banner-inner {
	position: relative;
	overflow: hidden;

	.section--banner-inner--img {
		z-index: 1;
	}

	.inner--banner--slide {
		min-height: 380px;
	}

	/*.block--nav-toggle {
		position: absolute;
		z-index: 3;
		top: 20px;
		right: 20px;

		img {
			width: 40px;
			height: auto;

			&.nav--close {
				display: none;
				visibility: hidden;
				.opacity(0);
			}
		}
	}*/

	.block--logo {
		position: absolute;
		z-index: 3;
		left: 0;
		right: 0;
		width: 140px;
		margin: 0 auto;
		top: 50px;

		img {
			max-width: 140px;
			width: 100%;
			height: auto;
		}
	}

	.block--heading {
		position: absolute;
		z-index: 3;
		top: 50%;
		left: 50%;
		.translate(-50%, -50%);
		padding: 0 30px;
		text-align: center;
		width: 100%;
		.box-sizing();

		h1, h2, h3, h4, h5, h6 {
			.font-size(40);
			color: @white;
			margin: 0;
			position: relative;
			padding: 30px 0;
			display: inline-block;
			font-family: @font-montserrat;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				margin: 0 auto;
				z-index: 2;
				width: 60%;
				height: 1px;
				background: @white;
				display: block;
			}
		}
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.1);
		display: block;
	}
}

/* Section: Banner Property */

.section--banner-property {
	position: relative;
	padding: 50px 0 20px;

	.uk-container {
		max-width: 1110px;
	}

	/*.block--nav-toggle {
		position: absolute;
		z-index: 3;
		top: 20px;
		right: 20px;

		img {
			width: 40px;
			height: auto;

			&.nav--close {
				display: none;
				visibility: hidden;
				.opacity(0);
			}
		}
	}*/

	.block--logo {
		width: 140px;
		margin: 0 auto;

		img {
			max-width: 140px;
			width: 100%;
			height: auto;
		}
	}

	.block--heading {
		text-align: center;
		margin-top: 30px;

		h2 {
			.font-size(24);
			color: @white;
			letter-spacing: 3px;
		}
	}

	.block--title-address {
		text-align: center;
		margin-top: 30px;

		h1 {
			.font-size(30);
			color: @white;
			line-height: 1.15;
			margin-bottom: 0;
		}

		p {
			.font-size(17);
			color: @white;
			margin: 0;
			line-height: 1.5em;
		}
	}

	&.style--green {
		background: @siteGreen;
	}

	&.style--light-green {
		background: @siteLightGreen;
	}

	&.style--red {
		background: @siteRed;
	}

	&.style--blue {
		background: @siteBlue;
	}

	&.style--grey {
		background: @siteGrey;
	}

	&.style--white, &.style--default {

		.block--heading {

			h1 {
				color: @textdark;
			}
		}

		.block--title-address {

			h1 {
				color: @textdark;
			}

			p {
				color: @textdark;
			}
		}
	}
}

body {

	&.uk-offcanvas-container {

		/*.section--banner-home {

			.block--banner--slide {

				.block--nav-toggle {

					img {

						&.nav--open {
							display: none;
							visibility: hidden;
							.opacity(0);
						}

						&.nav--close {
							display: block;
							visibility: visible;
							.opacity(1);
						}
					}
				}
			}
		}*/

		.block--nav-toggle {

			img {

				&.nav--open {
					display: none;
					visibility: hidden;
					.opacity(0);
				}

				&.nav--close {
					display: block;
					visibility: visible;
					.opacity(1);
				}
			}
		}
	}
}

/* Section: Intro with Image */

.section--intro-with-img {
	padding: 40px 0;

	.uk-container {
		max-width: 1110px;
	}

	.block--intro-with-img--copy {
		text-align: center;

		h1, h2, h3, h4, h5, h6 {
			.font-size(24);
		}

		p, li {
			.font-size(16);
			line-height: 2em;
		}
	}

	.block--intro-with-img--img {
		text-align: center;

		img {
			width: 100%;
			height: auto;
		}
	}

	&.style--light-green {
		background: @siteLightGreen;

		.block--intro-with-img--copy {
			
			h1, h2, h3, h4, h5, h6, li, p {
				color: @white;
			}
		}
	}
}

/* Section: Intro */

.section--intro {
	padding: 40px 0 80px;

	.block--intro--icon {
		text-align: center;
		margin-bottom: 20px;

		img {
			width: 100%;
			height: auto;
		}
	}

	.block--intro--copy {
		text-align: center;
		position: relative;

		h1, h2, h3, h4, h5, h6, li, p {
			color: @white;
		}

		&::before {
			content: "";
			position: absolute;
			bottom: -40px;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 100%;
			height: 5px;
			display: block;
			border-top: 5px dashed @white;
			.opacity(0.4);
		}
	}

	&.style--green {
		background: @siteGreen;
	}

	&.style--light-green {
		background: @siteLightGreen;
	}

	&.style--red {
		background: @siteRed;
	}

	&.style--blue {
		background: @siteBlue;
	}

	&.style--grey {
		background: @siteGrey;
	}

	&.style--white, &.style--default {
		background: @white;

		.block--intro--copy {
			
			h1, h2, h3, h4, h5, h6, li, p {
				color: @textgrey;
			}

			&::before {
				border-top: 5px dashed @siteLightGrey;
				.opacity(1);
			}
		}
	}
}

/* Section: Points Columns */

.section--points-columns {
	padding: 40px 0;

	.uk-container {
		max-width: 1110px;
		position: relative;
	}

	.border {
		content: "";
		position: absolute;
		top: -40px;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: calc(100% - 40px);
		height: 5px;
		display: block;
		border-top: 5px dashed @siteGrey;
	}

	.block--points-column {
		padding-bottom: 40px;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 155px;
			height: 2px;
			background: @siteGrey;
			display: block;
		}

		.block--icon {
			margin-bottom: 20px;

			img {
				width: 100%;
				height: auto;
			}
		}

		.block--heading {
			margin-bottom: 30px;
			max-width: 310px;

			h2 {
				.font-size(24);
			}
		}

		.block--copy {
			max-width: 310px;

			p, li {
				color: @textdark;
			}
		}

		&.style--green {

			&::before {
				background: @siteGreen;
			}

			.block--heading {

				h2 {
					color: @siteGreen;
				}
			}
		}

		&.style--light-green {

			&::before {
				background: @siteLightGreen;
			}

			.block--heading {

				h2 {
					color: @siteLightGreen;
				}
			}
		}

		&.style--blue {
	
			&::before {
				background: @siteBlue;
			}

			.block--heading {

				h2 {
					color: @siteBlue;
				}
			}
		}

		&.style--red {

			&::before {
				background: @siteRed;
			}

			.block--heading {

				h2 {
					color: @siteRed;
				}
			}
		}

		&.style--grey {

			&::before {
				background: @siteGrey;
			}

			.block--heading {

				h2 {
					color: @siteGrey;
				}
			}
		}
	}

	&.style--green {

		.border {
			border-top: 5px dashed @siteGreen;
		}
	}

	&.style--light-green {

		.border {
			border-top: 5px dashed @siteLightGreen;
		}
	}

	&.style--red {

		.border {
			border-top: 5px dashed @siteRed;
		}
	}

	&.style--blue {

		.border {
			border-top: 5px dashed @siteBlue;
		}
	}
}

/* Section: Entries Blocks */

.section--entries-blocks {
	padding: 30px 0;

	.block--entry-block {
		margin-bottom: 30px;

		&:last-child {
			//margin-bottom: 0;
		}

		.block--eblock-img {
			position: relative;
			height: 300px;

			.eblock--img {
				z-index: 1;
			}

			.block--heading {
				position: absolute;
				left: 0;
				top: 20px;
				background: rgba(166, 178, 186, 0.9);
				padding: 20px 30px;
				z-index: 2;

				h3 {
					.font-size(24);
					color: white;
					line-height: 1.25em;
					margin: 0;
					font-family: @font-regular;
					font-weight: 700;
				}
			}

			.block--icons {
				position: absolute;
				z-index: 2;
				bottom: 20px;
				right: 10px;
				text-align: right;

				img {
					width: 100px;
					height: auto;
					padding: 0 10px;
				}
			}

			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 80px;
				height: 64px;
				display: block;
				background: @siteGrey;
				z-index: 2;
			}
		}

		.block--eblock-copy {
			background: @siteLightGrey;
			padding: 30px;

			.block--icon {
				margin: 0 0 30px;

				img {
					width: 100%;
					height: auto;
				}
			}

			.block--heading {
				margin: 0 0 25px;

				h4 {
					color: @textgrey;
					.font-size(24);
					margin: 0;
					line-height: 1.25em;
				}
			}

			.block--copy {
				margin: 0 0 25px;

				h1, h2, h3, h4, h5, h6 {
					color: @textgrey;
				}

				p, li {
					color: @textgrey;
				}
			}

			.block--button {

			}
		}

		&.style--light-green {

			.block--eblock-img {

				.block--heading {
					background: rgba(157, 192, 154, 0.9);
				}

				&::before {
					background: @siteLightGreen;
				}
			}
		}

		&.style--green {

			.block--eblock-img {

				.block--heading {
					background: rgba(83, 151, 113, 0.9);
				}

				&::before {
					background: @siteGreen;
				}
			}
		}

		&.style--blue {

			.block--eblock-img {

				.block--heading {
					background: rgba(112, 143, 166, 0.9);
				}

				&::before {
					background: @siteBlue;
				}
			}
		}

		&.style--red {

			.block--eblock-img {

				.block--heading {
					background: rgba(158, 70, 68, 0.9);
				}

				&::before {
					background: @siteRed;
				}
			}
		}
	}
}

/* Section: Entries List */

.section--entries-list {
	padding: 40px 0;

	.uk-container {
		max-width: 1360px;
	}

	.block--entry {
		position: relative;
		margin-bottom: 30px;

		.block--heading {
			position: relative;
			z-index: 2;
			text-align: center;
			margin-bottom: 40px;
			width: 100%;

			h2 {
				color: @textdark;
				margin: 0;
			}
		}

		.block--content {
			display: block;
		}

		.block--img {
			position: relative;
			z-index: 2;
			width: 100%;

			img {
				max-width: 100%;
				height: auto;
			}
		}

		.block--copy--outer {
			position: relative;
			z-index: 2;
			background: @siteLightGrey;
			width: 100%;

			.inner--copy {
				padding: 30px;

				.block--icon {
					margin-bottom: 30px;

					img {
						width: 150px;
						height: auto;
					}
				}

				.block--copy {

					p {
						color: @textdark;
						line-height: 2.4em;
					}
				}

				.block--button {
					margin-top: 30px;
				}
			}
		}

		.block--address {
			background: @siteLightGrey;
			width: 100%;

			.inner--address {
				padding: 30px;

				h1, h2, h3, h4, h5, h6 {
					color: @textgrey;
					.font-size(20);
					font-family: @font-regular;
					margin: 0;
					line-height: 1.75em;
				}

				p, li {
					.font-size(16);
					line-height: 1.75em;
					margin: 0;
					color: @textgrey;

					strong {
						.font-size(20);
					}
				}
			}
		}

		&:first-child {

			.block--heading {

				h2 {
					color: @white;
				}
			}

			&::before {
				content: "";
				position: absolute;
				left: -20px;
				top: -40px;
				width: calc(100% + 40px);
				height: 50%;
				display: block;
				background: @white;
				z-index: 1;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&.style--light-green {

		.block--entry {

			.block--address {
				background: @siteLightGreen;

				.inner--address {

					h1, h2, h3, h4, h5, h6 {
						color: @white;
					}

					p, li {
						color: @white;
					}
				}
			}
		}

		.block--entry {

			&::before {
				background: @siteLightGreen;
			}
		}
	}

	&.style--green {

		.block--entry {

			.block--address {
				background: @siteGreen;

				.inner--address {

					h1, h2, h3, h4, h5, h6 {
						color: @white;
					}

					p, li {
						color: @white;
					}
				}
			}
		}

		.block--entry {

			&::before {
				background: @siteGreen;
			}
		}
	}

	&.style--blue {

		.block--entry {

			.block--address {
				background: @siteBlue;

				.inner--address {

					h1, h2, h3, h4, h5, h6 {
						color: @white;
					}

					p, li {
						color: @white;
					}
				}
			}
		}

		.block--entry {

			&::before {
				background: @siteBlue;
			}
		}
	}

	&.style--red {

		.block--entry {

			.block--address {
				background: @siteRed;

				.inner--address {

					h1, h2, h3, h4, h5, h6 {
						color: @white;
					}

					p, li {
						color: @white;
					}
				}
			}
		}

		.block--entry {

			&::before {
				background: @siteRed;
			}
		}
	}

	&.style--grey {

		.block--entry {

			.block--address {
				background: @siteGrey;

				.inner--address {

					h1, h2, h3, h4, h5, h6 {
						color: @white;
					}

					p, li {
						color: @white;
					}
				}
			}
		}

		.block--entry {

			&::before {
				background: @siteGrey;
			}
		}
	}
}

/* Section: Text with Images */

.section--text-with-imgs {
	padding: 30px 0;

	.uk-container {
		max-width: 1280px;
	}

	.block--text-with-imgs--copy {

		h1, h2 {
			color: @siteGreen;
			.font-size(30);
			margin-bottom: 30px;
		}

		h3 {
			color: @siteGreen;
			.font-size(24);
			margin-bottom: 30px;
		}

		h4 {
			color: @siteGreen;
			.font-size(20);
			margin-bottom: 30px;
		}

		h5, h6 {
			color: @siteGreen;
			.font-size(16);
			margin-bottom: 30px;
		}

		p {
			color: @textdark;
			line-height: 2.4em;
			margin-bottom: 30px;
		}

		ul, ol {
			margin-bottom: 30px;

			li {
				color: @textdark;
				line-height: 2.4em;
			}
		}
	}
}

/* Section: CTA Banner */

.section--cta-banner {
	background: @siteLightGrey;
	padding: 40px 0;

	.block--heading {

		h1, h2, h3, h4, h5, h6 {
			.font-size(34);
			color: @textdark;
			margin: 0 0 5px;
			line-height: 1.25em;
		}
	}

	.block--intro {

		h1, h2, h3, h4, h5, h6, p {
			.font-size(18);
			color: @textgrey;
			line-height: 1.5em;
			font-family: @font-regular;
			font-weight: 500;
		}
	}

	.block--ctas {
		margin-top: 40px;

		.block--cta {

			.link--cta {
				min-height: 280px;
				width: 100%;
				position: relative;
				display: block;

				.cta--img {
					z-index: 1;
				}

				.cta--copy {
					position: absolute;
					top: 50%;
					left: 50%;
					.translate(-50%, -50%);
					z-index: 3;
					width: 100%;
					.box-sizing();
					padding: 0 20px;

					.cta--icon {
						margin-bottom: 20px;

						img {
							width: 100%;
							height: auto;
						}
					}

					.cta--heading {
						margin-bottom: 20px;

						h2 {
							color: @white;
							.font-size(30);
							margin: 0;
						}
					}

					.cta--subheading {

						h3 {
							color: @white;
							.font-size(15);
							margin: 0;
							font-family: @font-regular;
							font-weight: 500;
							letter-spacing: 5px;
							text-transform: uppercase;
						}
					}
				}

				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					z-index: 2;
					width: 100%;
					height: 100%;
					display: block;
					background: rgba(166, 178, 186, 0.9);
					.opacity(1);
					.transition(opacity 0.3s);
				}

				&:hover, &:focus {

					&::before {
						.opacity(0.8);
					}
				}

				&.style--green {

					&::before {
						background: rgba(83, 151, 113, 0.9);
					}
				}

				&.style--light-green {

					&::before {
						background: rgba(157, 192, 154, 0.9);
					}
				}

				&.style--red {

					&::before {
						background: rgba(158, 70, 68, 0.9);
					}
				}

				&.style--blue {

					&::before {
						background: rgba(112, 143, 166, 0.9);
					}
				}

				&.style--grey {

					&::before {
						background: rgba(166, 178, 186, 0.9);
					}
				}
			}
		}
	}

	&.style--green {

		.block--heading {

			h1, h2, h3, h4, h5, h6 {
				color: @siteGreen;
			}
		}
	}

	&.style--light-green {

		.block--heading {

			h1, h2, h3, h4, h5, h6 {
				color: @siteLightGreen;
			}
		}
	}

	&.style--red {

		.block--heading {

			h1, h2, h3, h4, h5, h6 {
				color: @siteRed;
			}
		}
	}

	&.style--blue {

		.block--heading {

			h1, h2, h3, h4, h5, h6 {
				color: @siteBlue;
			}
		}
	}

	&.style--grey {

		.block--heading {

			h1, h2, h3, h4, h5, h6 {
				color: @siteGrey;
			}
		}
	}
}

/* Section: CTA Banner with Image */

.section--cta-banner-img {
	background: @siteLightGrey;
	padding: 40px 0 50px;

	.cta-banner-img {
		z-index: 1;
	}

	.block--icon {
		margin: 0 0 50px;
		text-align: center;
		position: relative;
		z-index: 2;

		img {
			width: 100%;
			height: auto;
		}
	}

	.block--ctas {
		position: relative;
		z-index: 2;

		.block--cta {

			.link--cta {
				width: 100%;
				position: relative;
				display: block;
				background: @siteGrey;
				padding: 30px 0;

				.cta--label {
					width: 100%;
					text-align: center;

					h2 {
						.font-size(24);
						color: @white;
						margin: 0;
						line-height: 1.25em;
					}
				}

				.cta--icon {
					position: absolute;
					right: 20px;
					top: 50%;
					.translate(0, -50%);
					text-align: right;

					img {
						width: 80%;
						height: auto;
					}
				}

				&:hover, &:focus {
					background: @siteDarkGrey;
				}

				&.style--green {
					background: @siteGreen;

					&:hover, &:focus {
						background: @siteGreenDark;
					}
				}

				&.style--light-green {
					background: @siteLightGreen;

					&:hover, &:focus {
						background: @siteLightGreenDark;
					}
				}

				&.style--red {
					background: @siteRed;

					&:hover, &:focus {
						background: @siteRedDark;
					}
				}

				&.style--blue {
					background: @siteBlue;

					&:hover, &:focus {
						background: @siteBlueDark;
					}
				}

				&.style--grey {
					background: @siteGrey;

					&:hover, &:focus {
						background: @siteDarkGrey;
					}
				}
			}
		}
	}
}

/* Section: Gallery */

.section--gallery {
	background: @white;
	padding: 40px 0;

	.uk-container {
		max-width: 1092px;
	}

	.block--heading {
		margin-bottom: 40px;
		text-align: center;

		h1, h2, h3, h4, h5, h6 {
			color: @textgrey;
			.font-size(28);
			letter-spacing: 3px;
		}
	}

	.block--gallery {

		a {

			img {
				max-width: 100%;
				height: auto;
			}
		}
	}
}

/* Section: Property Gallery */

.section--property-gallery {
	padding: 20px 0 40px;
	position: relative;

	.uk-container {
		max-width: 1110px;
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 25%;
		background: @white;
		display: block;
	}

	&.style--green {

		&::before {
			background: @siteGreen;
		}
	}

	&.style--light-green {

		&::before {
			background: @siteLightGreen;
		}
	}

	&.style--red {

		&::before {
			background: @siteRed;
		}
	}

	&.style--blue {

		&::before {
			background: @siteBlue;
		}
	}

	&.style--grey {

		&::before {
			background: @siteGrey;
		}
	}
}

/* Section: Website CTAs */

.section--website-ctas {
	background: @white;
	padding: 40px 0;

	.block--subheading {
		text-align: center;
		margin-bottom: 20px;

		h3 {
			color: @textgrey;
			margin: 0;
			.font-size(18);
			letter-spacing: 2.5px;
		}
	}

	.block--heading {
		text-align: center;
		margin-bottom: 40px;

		h2 {
			color: @textgrey;
			margin: 0;
		}
	}

	.block--ctas {

		.block-cta {

			.cta--icon {

				img {
					width: 100%;
					height: auto;
				}
			}
		}

		.cta--button {
			margin-top: 40px;
		}
	}
}

/* Section: Property CTA Banner */

.section--property-cta-banner {
	background: @white;
	padding: 50px 0;

	.block--icon {
		margin-bottom: 35px;

		img {
			width: 100%;
			height: auto;
		}
	}

	.block--heading {

		h2 {
			margin: 0;
			color: @white;
		}
	}

	.block--button {
		margin-top: 35px;

		.uk-button-cta {
			background: transparent;
			border: 1px solid @white;
			color: @white;

			&:hover, &:focus {
				background: @white;
				border: 1px solid @white;
				color: @textdark;
			}
		}
	}

	&.style--green {
		background: @siteGreen;

		.block--button {

			.uk-button-cta {

				&:hover, &:focus {
					color: @siteGreen;
				}
			}
		}
	}

	&.style--light-green {
		background: @siteLightGreen;

		.block--button {

			.uk-button-cta {

				&:hover, &:focus {
					color: @siteLightGreen;
				}
			}
		}
	}

	&.style--red {
		background: @siteRed;

		.block--button {

			.uk-button-cta {

				&:hover, &:focus {
					color: @siteRed;
				}
			}
		}
	}

	&.style--blue {
		background: @siteBlue;

		.block--button {

			.uk-button-cta {

				&:hover, &:focus {
					color: @siteBlue;
				}
			}
		}
	}

	&.style--grey {
		background: @siteGrey;

		.block--button {

			.uk-button-cta {

				&:hover, &:focus {
					color: @siteGrey;
				}
			}
		}
	}

	&.style--white, &.style--default {

		.block--heading {

			h2 {
				color: @textdark;
			}
		}

		.block--button {

			.uk-button-cta {

				&:hover, &:focus {
					color: @textdark;
				}
			}
		}
	}
}

/* Section: Property List */

.section--property-list {
	padding: 30px 0;

	.uk-container {
		max-width: 1088px;
	}

	.block--property {

		.property--title {
			margin-bottom: 20px;
			text-align: center;

			h3 {
				color: @textgrey;
				font-family: @font-regular;
				margin: 0;
				.font-size(20);
				font-weight: 500;
			}
		}

		.property--img {

			img {
				max-width: 100%;
				width: 100%;
				height: auto;
			}
		}

		.property--button {
			padding: 30px 0;

			.uk-button-cta {
				background: transparent;
				border: 1px solid @textgrey;
				color: @textgrey;

				&:hover, &:focus {
					background: @textgrey;
					border: 1px solid @textgrey;
					color: @white;
				}
			}
		}
	}
}

/* Section: Property Intro & Booking */

.section--intro-booking {
	padding: 20px 0;

	.uk-container {
		max-width: 1110px;
	}

	.block--intro {

		h1, h2, h3, h4, h5, h6 {
			color: @textdark;
			margin-bottom: 20px;
			.font-size(20);

			&::last-child {
				margin: 0;
			}
		}
	}
}

/* Section: Property Copy & Floorplans */

.section--copy-floorplans {
	padding: 20px 0;

	.uk-container {
		max-width: 1110px;
	}

	.block--copy {

		h1, h2, h3, h4, h5, h6 {
			color: @textdark;
		}

		p, li {
			color: @textdark;
			line-height: 2.4em;
		}
	}

	.block--floorplans {
		text-align: center;

		.uk-button-cta {
			background: transparent;
			border: 1px solid @textdark;
			color: @textdark;

			&:hover, &:focus {
				background: @textdark;
				border: 1px solid @textdark;
				color: @white;
			}
		}
	}
}

/* Section: Property Facilities */

.section--facilities {
	padding: 30px 0;

	.uk-container {
		max-width: 1110px;
	}

	.block--heading {
		margin-bottom: 40px;
		text-align: center;

		h1, h2, h3, h4, h5, h6 {
			color: @textgrey;
			.font-size(28);
			letter-spacing: 3px;
		}
	}

	.block--facility {

		img {
			width: 100%;
			height: auto;
		}
	}
}

/* Section: Property Also See */

.section--also-see {
	padding: 30px 0;

	.block--heading {
		margin-bottom: 40px;
		text-align: center;

		h1, h2, h3, h4, h5, h6 {
			color: @textgrey;
			.font-size(28);
			letter-spacing: 3px;
		}
	}

	.block--property {

		.property--title {
			margin-bottom: 20px;
			text-align: center;

			h3 {
				color: @textgrey;
				font-family: @font-regular;
				margin: 0;
				.font-size(20);
				font-weight: 500;
			}
		}

		.property--img {

			img {
				max-width: 100%;
				width: 100%;
				height: auto;
			}
		}

		.property--button {
			padding: 30px 0;

			.uk-button-cta {
				background: transparent;
				border: 1px solid @textgrey;
				color: @textgrey;

				&:hover, &:focus {
					background: @textgrey;
					border: 1px solid @textgrey;
					color: @white;
				}
			}
		}
	}
}

/* Section: Form */

.section--form {
	background: @siteLightGreen;
	padding: 35px 0;

	.block--heading {

		h1, h2, h3, h4, h5, h6 {
			.font-size(34);
			color: @white;
			margin: 0 0 5px;
			line-height: 1.25em;
		}
	}

	.block--subheading {

		h1, h2, h3, h4, h5, h6 {
			.font-size(20);
			color: @white;
			font-family: @font-regular;
			line-height: 1.25em;
			margin: 0;
			font-weight: 700;
		}

		p {
			color: @white;
			.font-size(14);
		}
	}

	.block--form {
		margin-top: 30px;
		font-family: @font-regular;

		label {
			display: none;

			&.label--checkbox {
				display: block;
				color: @white;
				font-family: @font-regular;
				.font-size(12);
			}
		}

		.button--form {
			.rounded(0);
			background: transparent;
			color: @white;
			border: 1px solid @white;

			&:hover, &:focus {
				background: @white;
				border: 1px solid @white;
				color: @siteLightGreen;
			}
		}
	}
}

/* Footer */

.footer {

	/* Top Footer */

	.block--footer-top {
		background: @siteLightGrey;
		padding: 40px 0;

		.block--footer-top--left {

			.inner--footer-top--left {
				text-align: center;

				h2 {
					.font-size(16);
					text-transform: uppercase;
					margin: 0 0 10px;
					line-height: 1.25em;
					color: @textgrey;
					font-weight: 300;
					font-family: @font-montserrat;
				}

				p {
					font-weight: 300;
					.font-size(12);
					color: @textgrey;
					line-height: 2.5em;
					margin-bottom: 20px;

					&:last-child {
						margin-bottom: 0;
					}
				}

				.footer-menu {
					margin: 0 0 10px;
					padding: 0;
					list-style: none;

					li {
						margin: 0;
						padding: 0;
						display: block;
						font-weight: 300;
						.font-size(12);
						color: @textgrey;
						line-height: 2.5em;

						a {
							color: @textgrey;
							margin: 0;
							display: block;

							&:hover {
								color: @siteGreenDark;
							}
						}
					}
				}
			}
		}

		.block--footer-top--right {

			.inner--footer-top--right {
				text-align: center;

				.social-list {
					margin: 0;
					padding: 0;
					list-style: none;

					li {
						margin: 0 10px;
						padding: 0;
						display: inline-block;

						a {
							.opacity(1);
							.transition(opacity 0.3s ease);
							display: block;

							img {
								display: block;
							}

							&:hover {
								.opacity(0.9);
							}
						}
					}
				}
			}

			@media only screen and (max-width: 1199px) and (min-width: 960px)  {
				.flex--vertical-align;
			}
		}
	}

	/* Bottom Footer */

	.block--footer-bottom {
		background: @siteLightGreen;
		padding: 20px 0;

		.block--footer-bottom--left {

			.inner--footer-bottom--left {
				text-align: center;

				ul {
					margin: 0;
					padding: 0;
					list-style: none;

					li {
						margin: 0;
						padding: 0;
						display: block;
						font-weight: 500;
						.font-size(16);
						color: @white;
						line-height: 1.5em;

						a {
							color: @white;

							&:hover {
								color: @siteGreenDark;
							}
						}

						&.uk-active {

							a {
								color: @siteGreenDark;
							}
						}
					}
				}
			}
		}

		.block--footer-bottom--right {

			.inner--footer-bottom--right {
				text-align: center;

				p {
					.font-size(16);
					color: @white;
					margin: 0;
					line-height: 1.5em;
					font-weight: 500;
				}
			}
		}
	}
}

// 7. VENDOR-SPECIFIC 		==============================
// 8. ANIMATION 			==============================