// ==========================================================

// WE LOVE 9AM FRAMEWORK URL: https://welove9am.com/
// Version: 1.1
// Based on 320 and Up by Andy Clarke URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
// UIKIT by YOOtheme URL: http://getuikit.com/ & http://yootheme.com/
// Licensed under MIT license. http://opensource.org/licenses/MIT

// ==========================================================

// VARIABLES

@import "variables.less";

// UIKIT 					==============================

@import "../../library/uikit/src/less/uikit.less";

// 320 AND UP MIXINS

@import "../../library/less/wipos/mixins.less";
@import "../../library/less/wipos/animate.less";

// PLUGINS

@import "../../library/less/wipos/animate.less";

// LAYOUT 			==============================

// Page level layout styles (banner, navigation, content, contentinfo)

@import "page.less";

// MEDIA QUERIES 		==============================

// 480
@media only screen and (min-width: @breakpoint-phone) {
	@import "480.less";
}

// 640
@media only screen and (min-width: @breakpoint-small) {
	@import "640.less";
}

// 960px
@media only screen and (min-width: @breakpoint-medium) {
	@import "960.less";
}

// 1200px
@media only screen and (min-width: @breakpoint-large) {
	@import "1200.less";
}

// 1600px
@media only screen and (min-width: @breakpoint-xlarge) {
	@import "1600.less";
}