//
// Component:       Variables
// Description:     Defines all color and style related values as variables
//                  to allow easy customization for the most common cases.
//
// ========================================================================


// Global variables
// ========================================================================

//
// Breakpoint Override
//

@breakpoint-phone:    480px;  // Small Phone
@breakpoint-small:    640px;  // Phone landscape
@breakpoint-medium:   960px;  // Tablet Landscape
@breakpoint-large:    1200px; // Desktop
@breakpoint-xlarge:   1600px; // Large Screens

@breakpoint-phablet:  @breakpoint-small;

/* Variables =================================================== */

// 1. ROOT          ==============================

@bodycolor : @white;
@textcolor : @black;

// 2. TYPOGRAPHY      ==============================

@basefont : @font-regular, sans-serif;
@basefontsize : 15;
@baselineheight : 25px;
@baseheadingfont : @font-heading, sans-serif;
@baseheadingfontweight : normal;
@baseheadingfontcolor : inherit;

@altfont : Cambria, Georgia, Times, "Times New Roman";
@altlineheight : 1.35em;

@codefont : Monaco, Courier New, monospace;

@font-regular       : @font-montserrat;
@font-heading       : @font-poynter;

@font-poynter		: poynter-oldstyle-display, serif;
@font-montserrat	: 'Montserrat', sans-serif;

// 3. COLOUR        ==============================

@basecolor          : rgb(45,53,62);    
@compcolor          : spin(@basecolor, 180); 
@bordercolor        : lighten(@basecolor, 60%);

// Links

@linkcolor            : @black;
@linkcolorhover       : @black;
@linkcolorvisited     : @black;
@linkcolorfocus       : @black;

// greyscale

@black          : rgb(0,0,0);
@darkgrey       : lighten(@black, 25%);
@grey           : lighten(@black, 50%);
@lightgrey      : lighten(@black, 75%);
@lightergrey    : lighten(@black, 90%);
@white          : rgb(255,255,255);

// colour palettes

@alertcolor     : rgb(252,248,227);
@errorcolor     : rgb(218,79,73);
@infocolor      : rgb(217,237,247);
@inverscolor    : rgb(65,65,65);
@successcolor   : rgb(91,183,91);
@warningcolor   : rgb(250,167,50);


// site greyscale colours

@siteGrey			: #a6b2ba;
@siteLightGrey 		: #f7f2f3;
@siteDarkGrey 		: #a1a8ad;
@headerGrey			: #ede5e7;

// site colours

@siteGreen				: #539771;
@siteGreenDark			: #2a553d;
@siteLightGreen			: #9dc09a;
@siteLightGreenDark		: #6c9a68;
@siteRed				: #9e4644;
@siteRedDark			: #802b2a;
@siteBlue				: #708fa6;
@siteBlueDark			: #597081;

// text colours

@textdark           : #484848;
@textgrey			: #6f6f6f;

// Fonts:       
//
// ========================================================================

@icon-font-path:                                "../fonts";

@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap');
@import url("https://use.typekit.net/uig4bvo.css");