{# Global: Icons Colour #}

<div class="uk-grid-collapse uk-grid-match" uk-grid>

	<div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-center">
	
		<img src="{{ url('assets/img/icon-colour-community.svg') }}" alt="Community icon">
	
	</div>

	<div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-center">
	
		<img src="{{ url('assets/img/icon-colour-nature.svg') }}" alt="Nature icon">
	
	</div>

	<div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-center">
	
		<img src="{{ url('assets/img/icon-colour-food-drink.svg') }}" alt="Food &amp; Drink icon">
	
	</div>

</div>