{# Global: Navigation Toggle Icon Colour #}

<img src="{{ url('assets/img/icon-colour-nav-toggle-open.svg') }}" class="nav--open" alt="Open menu">

<img src="{{ url('assets/img/icon-colour-nav-toggle-close.svg') }}" class="nav--close" alt="Close menu">