{# Property Page Template #}

{% extends "_layout" %}

{% set templateName = "temp--properties" %}

{% if not entry is defined %}

	{% set entry = craft.entries()
    .section('pages')
    .slug(craft.app.request.getSegment(1))
    .one() %}

{% endif %}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{% set pageStyle = "style--default" %}

{% if entry.styling|length %}

	{% set pageStyle = "style--" ~ entry.styling.one().slug %}

{% endif %}

{% set categoryTitle = "Short Term Stay" %}

{% if entry.propertyCategory|length %}

    {% set category = entry.propertyCategory.one() %}

    {% if category.title == "Property Rental" %}

        {% set categoryTitle = "Property Rental" %}

    {% endif %}

{% endif %}

{% block content %}

    {# Banner #}

    <section class="section--banner-property {{ pageStyle }} hide--element" uk-scrollspy="cls: show--element animated fadeIn; delay: 0;">

        <div class="uk-container">
                                
            {# Navigation Toggle 

            <div class="block--nav-toggle hide--element" uk-scrollspy="cls: show--element animated fadeIn; delay: 200;">
            
                <a href="#" uk-toggle="target: #offcanvas--menu">

                    {% if pageStyle == "style--white" or pageStyle == "style--default" %}

                        {% include "_global/_header/_nav-icon-colour" %}

                    {% else %}
                        
                        {% include "_global/_header/_nav-icon-white" %}

                    {% endif %}

                </a>
            
            </div>#}

            {# Logo #}

            <div class="block--logo hide--element" uk-scrollspy="cls: show--element animated fadeIn; delay: 200;">
            
                {% if pageStyle == "style--white" or pageStyle == "style--default" %}

                    {% include "_global/_header/_logo-colour" %}

                {% else %}
                    
                    {% include "_global/_header/_logo-white" %}

                {% endif %}
            
            </div>

            {# Category / Heading #}

            {% if entry.propertyCategory|length %}

                {% set category = entry.propertyCategory.one() %}

                <div class="block--heading">
                    
                    <h2 class="hide--element" uk-scrollspy="cls: show--element animated fadeInUp; delay: 400;">{{ category.title }}</h2>
                
                </div>

            {% endif %}

            {# Title / Address #}

            <div class="block--title-address hide--element" uk-scrollspy="cls: show--element animated fadeInUp; delay: 400;">
            
                <h1>{{ entry.title }}</h1>

                {% if entry.address|length %}

                    <p>{{ entry.address }}</p>

                {% endif %}
            
            </div>
        
        </div>

    </section>

    {# Gallery #}

    {% if entry.gallery|length %}

        {% set firstAsset = entry.gallery.one() %}
        {% set assets = entry.gallery.offset(1).all() %}

        {% set thumb = {
            mode: 'crop',
            width: 560,
            height: 560,
            quality: 70,
            position: 'center-center'
        }%}

        {% set thumbLg = {
            mode: 'crop',
            width: 1120,
            height: 1120,
            quality: 70,
            position: 'center-center'
        }%}

        <section class="section--property-gallery {{ pageStyle }} hide--element" uk-scrollspy="cls: show--element animated fadeIn; delay: 250;">
        
            <div class="uk-container">

                <div class="grid--property-gallery uk-grid-small" uk-grid uk-lightbox="animation: slide">

                    <div class="uk-width-1-1 uk-width-1-2@m">

                        <a class="uk-inline" href="{{ firstAsset.getUrl() }}"><img src="{{ firstAsset.getUrl(thumbLg) }}" alt="{{ firstAsset.title }}"></a>
                    
                    </div>

                    {% if assets|length %}

                        <div class="uk-width-1-1 uk-width-1-2@m">

                            <div class="uk-grid-small" uk-grid>
                            
                                {% for asset in assets %}

                                    <div class="uk-width-1-2">

                                        <a class="uk-inline" href="{{ asset.getUrl() }}"><img src="{{ asset.getUrl(thumb) }}" alt="{{ asset.title }}"></a>
                                    
                                    </div>
                                    
                                {% endfor %}
                            
                            </div>

                        </div>

                    {% endif %}

                </div>
            
            </div>
        
        </section>

    {% endif %}

    {# Intro / Book Your Stay (Short Term Stay) #}

    {% if categoryTitle == "Short Term Stay" %}

        {% if entry.intro|length or entry.bookingLink|length %}

            <section class="section--intro-booking">
            
                <div class="uk-container">
                
                    <div class="grid--intro-booking" uk-grid>
                    
                        {% if entry.intro|length %}

                            <div class="uk-width-1-1 uk-width-1-2@m">
                            
                                <div class="block--intro hide--element" uk-scrollspy="cls: show--element animated fadeInUp; delay: 250;">
                                
                                    {{ entry.intro }}
                                
                                </div>
                            
                            </div>

                        {% endif %}

                        {% if entry.bookingLink|length %}

                            {% set buttonStyle = "default" %}

                            {% if entry.styling|length %}

                                {% set buttonStyle = entry.styling.one().slug %}

                            {% endif %}

                            <div class="uk-width-1-1 uk-width-1-2@m">
                            
                                <div class="block--booking uk-text-center hide--element" uk-scrollspy="cls: show--element animated fadeInUp; delay: 250;">
                                
                                    <a href="{{ entry.bookingLink }}" class="uk-button uk-button-{{ buttonStyle }}">Book your stay</a>
                                
                                </div>
                            
                            </div>

                        {% endif %}
                    
                    </div>
                
                </div>  
            
            </section>

        {% endif %}

    {% else %}

        {# Intro / Contact (Property Rental) #}

        <section class="section--intro-booking">
        
            <div class="uk-container">
            
                <div class="grid--intro-booking" uk-grid>
                
                    {% if entry.intro|length %}

                        <div class="uk-width-1-1 uk-width-1-2@m">
                        
                            <div class="block--intro hide--element" uk-scrollspy="cls: show--element animated fadeInUp; delay: 250;">
                            
                                {{ entry.intro }}
                            
                            </div>
                        
                        </div>

                    {% endif %}

                    {# Booking Email Button #}

                    {# {% if bookingEmail.text|length %} #}

                        <div class="uk-width-1-1 uk-width-1-2@m">
                        
                            <div class="block--booking uk-text-center hide--element" uk-scrollspy="cls: show--element animated fadeInUp; delay: 250;">
                            
                                <a href="#modal--contact-form" class="uk-button uk-button-grey" uk-toggle>Contact us</a>
                            
                            </div>
                            
                        </div>

                    {# {% endif %} #}
                
                </div>
            
            </div>  
        
        </section>

        <div id="modal--contact-form" class="uk-flex-top form--contact-form" uk-modal>

            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

                <button class="uk-modal-close-default" type="button" uk-close></button>

                <div class="block--heading uk-text-center">
                
                    <h2>Property Rental Enquiry</h2>

                    <img src="{{ url('assets/img/logo-colour.png') }}" alt="logo" class="uk-visible@l">
                
                </div>

                <div class="block--form">
                
                    {{ craft.freeform.form('propertyRentalEnquiry').render() }}
                
                </div>

            </div>

        </div>

        {% do view.registerCssFile('https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css') %}
        {% do view.registerJsFile('https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js') %}
        {% do view.registerJsFile('https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js') %}

        {% set startDate = now|date('d/m/Y') %}

        {% js %}

            $('.date--picker').daterangepicker({
                singleDatePicker: true,
                "startDate": "{{ startDate }}",
                "minDate": "{{ startDate }}",
                linkedCalendars: true,
                locale: {
                    format: 'DD/MM/YYYY'
                }
            });

        {% endjs %}

    {% endif %}

    {# Copy / Floorplans #}

    {% if entry.copy|length or entry.floorPlans|length %}

        <section class="section--copy-floorplans">
        
            <div class="uk-container">
            
                <div class="grid--copy-floorplans" uk-grid>

                    {% if entry.copy|length %}

                        <div class="uk-width-1-1">
                        
                            <div class="block--copy hide--element" uk-scrollspy="cls: show--element animated fadeInUp; delay: 250;">
                            
                                {{ entry.copy }}
                            
                            </div>
                        
                        </div>

                    {% endif %}

                    {% if entry.floorPlans|length %}

                        {% set asset = entry.floorPlans.one() %}

                        <div class="uk-width-1-1">

                            <div class="block--floorplans"{% if asset.kind == "image" %} uk-lightbox="animation: slide"{% endif %}>

                                <div class="hide--element" uk-scrollspy="cls: show--element animated fadeInUp; delay: 250;">
                                
                                    <a href="{{ asset.getUrl() }}" class="uk-button uk-button-cta"{% if asset.kind == "pdf" %} target="_blank"{% endif %}>FLOORPLANS</a>
                                
                                </div>
                            
                            </div>
                        
                        </div>

                    {% endif %}

                </div>
            
            </div>
        
        </section>

    {% endif %}

    {# Facilities #}

    {% if entry.facilities|length %}

        {% set facilities = entry.facilities.all() %}

        <section class="section--facilities">
        
            <div class="uk-container">
            
                <div class="block--heading hide--element" uk-scrollspy="cls: show--element animated fadeInUp; delay: 250;">
                
                    <h2>Facilities</h2>
                
                </div>

                <div class="grid--facilities uk-flex-center" uk-grid>
                
                    {% for facility in facilities %}

                        <div class="uk-width-1-2 uk-width-1-3@s uk-width-1-5@m">
                        
                            <div class="block--facility hide--element" uk-scrollspy="cls: show--element animated fadeInUp; delay: 250;">
                            
                                <img src="{{ facility.getUrl() }}" alt="{{ facility.title }}" style="max-width: {{ facility.width }}px;">
                            
                            </div>
                        
                        </div>
                        
                    {% endfor %}
                
                </div>
            
            </div>
        
        </section>

    {% endif %}

    {# Booking Banner #}

    {% if categoryTitle == "Short Term Stay" and entry.bookingLink|length %}

        <section class="section--property-cta-banner {{ pageStyle }} hide--element" uk-scrollspy="cls: show--element animated fadeIn; delay: 250;">

            <div class="uk-container">

                {# Heading #}

                <div class="block--heading typography--heading uk-text-center">
                
                    <h2>Book Now</h2>
                
                </div>

                {# Button #}

                <div class="block--button uk-text-center">

                    <a href="{{ entry.bookingLink }}" class="uk-button uk-button-cta">Book your stay</a>
                
                </div>
            
            </div>

        </section>

    {% else %}
        
        <section class="section--property-cta-banner {{ pageStyle }} hide--element" uk-scrollspy="cls: show--element animated fadeIn; delay: 250;">

            <div class="uk-container">

                {# Heading #}

                <div class="block--heading typography--heading uk-text-center">
                
                    <h2>Make an enquiry</h2>
                
                </div>

                {# Button #}

                <div class="block--button uk-text-center">

                    <a href="#modal--contact-form" class="uk-button uk-button-cta" uk-toggle>Contact</a>
                
                </div>
            
            </div>

        </section>

    {% endif %}

    {# Also See #}

    {% if entry.relatedProperties|length %}

        {% set properties = entry.relatedProperties.all() %}

        <section class="section--also-see">
        
            <div class="uk-container">
            
                <div class="block--heading uk-text-center hide--element" uk-scrollspy="cls: show--element animated fadeInUp; delay: 250;">
                
                    <h2>Also see</h2>
                
                </div>

                <div class="grid--properties uk-flex-center" uk-grid>
                
                    {% for property in properties %}

                        <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
                        
                            <div class="block--property hide--element" uk-scrollspy="cls: show--element animated fadeInUp; delay: 250;">
                            
                                <div class="property--title">
                            
                                    <h3>

                                        {{ property.title }}

                                        {% if property.location|length %}

                                            &nbsp;&nbsp;|&nbsp;&nbsp;{{ property.location }}

                                        {% endif %}

                                    </h3>
                                
                                </div>

                                <div class="property--img">
                                
                                    {% if property.img|length %}
                                        
                                        {% set asset = property.img.one() %}
                                        
                                        <img src="{{ asset.getUrl(thumb) }}" alt="{{ asset.title }}">

                                    {% endif %}
                                
                                </div>

                                <div class="property--button uk-text-center">
                                
                                    <a href="{{ property.getUrl() }}" class="uk-button uk-button-cta">Show me more</a>
                                
                                </div>
                            
                            </div>
                        
                        </div>
                        
                    {% endfor %}
                
                </div>
            
            </div>
        
        </section>

    {% endif %}

    {# Content Blocks #}

    {% include "_inc/_content-blocks" %}

{% endblock %}