{# Banner #}

{% if entry.banner|length %}

	{% for block in entry.banner.all() %}

		{% switch block.type %}

			{# Home Style Banner #}

			{% case "homeStyleBanner" %}

				{% include '_inc/_banner/_homeStyleBanner' %}

			{# Inner Banner Style #}

			{% case "innerBannerStyle" %}

				{% include '_inc/_banner/_innerBannerStyle' %}

			{% default %}

		{% endswitch %}

	{% endfor %}

{% endif %}