{# Content Blocks #}

{% if entry.contentBlocks|length %}

	{% for block in entry.contentBlocks.all() %}

		{% set currentLoop = loop.index %}
		{% set nextLoop = loop.index + 1 %}

		{% set blockVars = { currentLoop : loop.index, nextLoop : loop.index + 1 } %}

		{% switch block.type %}

			{# Intro #}

			{% case "intro" %}

				{% include '_inc/_blocks/_intro' with blockVars %}

			{# Intro with Image #}

			{% case "introWithImage" %}

				{% include '_inc/_blocks/_introWithImage' with blockVars %}

			{# Point Columns #}

			{% case "pointColumns" %}

				{% include '_inc/_blocks/_pointColumns' with blockVars %}

			{# Text with Images #}

			{% case "textWithImages" %}

				{% include '_inc/_blocks/_textWithImages' with blockVars %}

			{# Entries Blocks #}

			{% case "entriesBlocks" %}

				{% include '_inc/_blocks/_entriesBlocks' with blockVars %}

			{# Entries List #}

			{% case "entriesList" %}

				{% include '_inc/_blocks/_entriesList' with blockVars %}

			{# Property List #}

			{% case "propertyList" %}

				{% include '_inc/_blocks/_propertyList' with blockVars %}

			{# Website CTAs #}

			{% case "websiteCtas" %}

				{% include '_inc/_blocks/_websiteCtas' with blockVars %}

			{# Gallery #}

			{% case "gallery" %}

				{% include '_inc/_blocks/_gallery' with blockVars %}

			{# Form #}

			{% case "form" %}

				{% include '_inc/_blocks/_form' with blockVars %}

			{# CTA Banner #}

			{% case "ctaBanner" %}

				{% include '_inc/_blocks/_ctaBanner' with blockVars %}

			{# CTAs Banner with Image #}

			{% case "ctasBannerWithImage" %}

				{% include '_inc/_blocks/_ctasBannerWithImage' with blockVars %}

			{# Property CTA Banner #}

			{% case "propertyCtaBanner" %}

				{% include '_inc/_blocks/_propertyCtaBanner' with blockVars %}

			{# Padding #}

			{% case "padding" %}

				{% include '_inc/_blocks/_padding' with blockVars %}

			{% default %}

		{% endswitch %}

	{% endfor %}

{% endif %}