{# Menu - Main #}

{% set nodes = craft.navigation.nodes()
    .handle('main')
    .all()
%}	

<nav class="menu--main">

    <ul>

    	{% nav node in nodes %}

            <li class="{% if node.classes %}{{ node.classes }}{% endif %}{% if node.active %} uk-active{% endif %}">

                <a href="{{ node.url }}">{{ node.title }}</a>

            </li>

        {% endnav %}

    </ul>

</nav>