{# Menu - Mobile #}

{% set nodesMobile = craft.navigation.nodes()
    .handle('mobile')
    .all()
%}

<div class="nav--mobile uk-hidden@l">

	<div id="offcanvas--mobile-nav" class="block--mobile-nav" uk-offcanvas="flip: true; mode: push">

	    <div class="uk-offcanvas-bar">

			<div class="inner--mobile-nav">
			
				<ul class="uk-nav uk-nav-default">

		        	{% nav node in nodesMobile %}

			            <li class="{% if node.active %} uk-active{% endif %}">

			                <a href="{{ node.url }}"{% if node.classes and node.level == 1 %} class="{{ node.classes }}"{% endif %}>{{ node.title }}</a>

			                {% ifchildren %}

			                	<div class="nav--mobile--children">

					                <ul class="">

					                	<li class="menu-heading">{{ node.title }} <a href="#" class="command--hide-children uk-display-inline-block" uk-icon="arrow-right"></a></li>

					                    {% children %}

					                </ul>

					            </div>

				            {% endifchildren %}

			            </li>

		            {% endnav %}

		        </ul>
			
			</div>

	    </div>

	</div>

</div>

{# Commaned - Show child menu #}

{% js %}

	$('body').on('click', '.command--show-children', function(e) {

		e.preventDefault();

		var objTest = $(this).next('.nav--mobile--children');

		objTest.toggleClass('uk-active');

	});

	$('body').on('click', '.command--hide-children', function(e) {

		e.preventDefault();

		var objTest = $(this).closest('.nav--mobile--children');

		objTest.toggleClass('uk-active');

	});

{% endjs %}