{# Block - Banner #}

<section class="section--banner">

	<div class="container--banner">

		{# Animated Arrows #}

		{% if block.addAnimatedArrows == 1 %}

			{% include "_inc/_blocks/_animatedArrows" with { arrowType : 'regular' } %}

		{% endif %}
	
		<div class="uk-container">

			{# Heading / Button #}

			{% if block.heading|length or block.button|length %}

				<div class="block--banner--heading ">

					<div class="inner--banner--heading hide--element" uk-scrollspy="cls: animated show--element fadeInUp; delay: 250;">
					
						{{ block.heading }}
					
					</div>

					{% if block.button|length %}
							
						<div class="block--banner--button uk-visible@s">

							<div class="inner--banner--button hide--element" uk-scrollspy="cls: animated show--element fadeIn; delay: 500;">
							
								{% set attributes = {
									class: 'uk-button button--dark-green',
		                            id: ''
		                        } %}

		                        {{ block.button.link(attributes) }}
							
							</div>
						
						</div>

					{% endif %}
				
				</div>

			{% endif %}

			{# Image #}

			{% if block.img|length %}

				{% set asset = block.img.one() %}

				<div class="block--banner--img">

					<div class="inner--banner--img hide--element" uk-scrollspy="cls: animated show--element fadeIn; delay: 500;">
					
						<img src="{{ asset.getUrl() }}" title="{{ asset.title }}">
					
					</div>
				
				</div>

			{% endif %}

		</div>

		{# Copy #}

		{% if block.copy|length %}

			<div class="block--banner--copy uk-visible@s uk-flex uk-flex-right@m hide--element" uk-scrollspy="cls: animated show--element fadeInRight; delay: 250;">
			
				<div class="inner--banner--copy">

					{{ include(template_from_string(block.copy)) }}

				</div>
			
			</div>

		{% endif %}
	
	</div>

</section>