{# Block - Contact #}

<section class="section--contact" id="section--contact">

	<div class="container--contact">

		{# Animated Arrows #}

		{% include "_inc/_blocks/_animatedArrows" with { arrowType : 'dark' } %}
			
		<div class="uk-container">

			{# Heading #}

			{% if blockContact.heading|length %}

				<div class="block--contact--heading">
				
					<div class="inner--contact--heading hide-element" uk-scrollspy="cls: animated show--element fadeInUp; delay: 250;">
					
						<h2>{{ blockContact.heading }}</h2>
					
					</div>
				
				</div>

			{% endif %}

			{# Address #}

			{% if blockContact.copy|length %}

				<div class="uk-grid--contact--address uk-grid-collapse" uk-grid>
				
					<div class="block--contact--address uk-width-1-2 uk-width-1-1@s">
					
						<div class="inner--contact--address hide-element" uk-scrollspy="cls: animated show--element fadeInUp; delay: 250;">
						
							{{ blockContact.copy }}
						
						</div>
					
					</div>

					<div class="block--contact--mobile-map uk-width-1-2 uk-hidden@s">

						<div class="inner--contact--mobile-map">
						
							<img src="{{ url('assets/img/map-mobile.svg') }}" alt="map of United Kingdom" class="svg-map-mobile hide-element" uk-scrollspy="cls: animated show--element fadeIn; delay: 250;">
						
						</div>

					</div>
				
				</div>

			{% endif %}

			{# Phone Number #}

			{% if blockContact.telephone|length %}

				<div class="block--contact--phone">
				
					<div class="inner--contact--phone hide-element" uk-scrollspy="cls: animated show--element fadeInUp; delay: 250;">

						<p>Call. <a href="tel:{{ blockContact.telephone }}">{{ blockContact.telephone }}</a></p>
					
					</div>
				
				</div>

			{% endif %}

			{# Map / Image #}

			<div class="block--contact--map uk-visible@s">
			
				<div class="inner--contact--map">

					<img src="{{ url('assets/img/map.svg') }}" alt="map of United Kingdom" class="svg-map hide-element" uk-scrollspy="cls: animated show--element fadeInUp; delay: 750;">

					<img src="{{ url('assets/img/map-circle.svg') }}" alt="map of United Kingdom" class="svg-map-circle hide-element" uk-scrollspy="cls: animated show--element zoomIn; delay: 1250;">
				
				</div>
			
			</div>

		</div>

	</div>

</section>