{# Block - News & Events #}

<section class="section--news-events hide--element" uk-scrollspy="cls: animated show--element fadeInUp; delay: 500;">

	<div class="uk-container">
	
		<div class="grid--news-events--content uk-grid-collapse uk-flex" uk-grid>

			{# News/Events List #}

			{% set related = null %}

			{% if craft.app.request.getSegment(2) == "category" and craft.app.request.getSegment(3) != "" %}

				{% set related = craft.categories()
					.group(craft.app.request.getSegment(1))
    				.slug(craft.app.request.getSegment(3))
    				.one()
    			%}

			{% endif %}

			{% set listType = 'events' %}

			{% if block.whichList == 'news' %}

				{% set articlesQuery = craft.entries()
				    .section('news')
				    .relatedTo(related)
				    .limit(10) %}

				{% set listType = 'news' %}
				
			{% else %}
				
				{% set articlesQuery = craft.entries()
				    .section('events')
				    .relatedTo(related)
				    .limit(10) %}

			{% endif %}

			{% paginate articlesQuery as pageInfo, articles %}
		
			<div class="block--news-events--list uk-width-1-1 uk-width-2-3@s uk-width-2-3@m">
			
				<div class="inner--news-events--list" uk-height-match=".article--list-item--img">

					{% if articles|length %}

						{% for article in articles %}

							<div class="block--article--list-item">
							
								<div class="grid--article--list-item" uk-grid>

									{# Article Image #}

									{% if article.img|length %}

										{% set asset = article.img.one() %}

										<div class="article--list-item--img uk-width-1-1 uk-width-1-3@m uk-width-2-5@l">
										
											<div class="inner--list-item--img">
											
												<a href="{{ article.getUrl() }}"><img src="{{ asset.getUrl() }}" alt="{{ asset.title }}"></a>
											
											</div>
										
										</div>

									{% endif %}
								
									{# Artcile Copy #}

									<div class="article--list-item--copy uk-width-1-1 uk-width-2-3@m uk-width-3-5@l">
									
										<div class="inner--list-item--copy uk-height-1-1">

											{# Category #}
										
											{% if article.newsCategory|length or article.eventsCategory|length %}

												{% if block.whichList == 'news' %}

													{% set categories = article.newsCategory.all() %}
													
												{% else %}

													{% set categories = article.eventsCategory.all() %}

												{% endif %}

												<div class="list-item--copy--category">

													<p>
												
														{% for category in categories %}

															<a href="{{ category.getUrl() }}">{{ category.title }}</a>{% if not loop.last %}, {% endif %}
															
														{% endfor %}

													</p>
												
												</div>

											{% endif %}

											{# Heading #}

											<h3>{{ article.title }}</h3>

											<p>{{ article.postDate|date('F j, Y') }}</p>

											<div class="list-item--copy--button">
											
												<a href="{{ article.getUrl() }}" class="uk-button button--transparent button--sm">Tell me more</a>
											
											</div>
										
										</div>
									
									</div>
								
								</div>
							
							</div>
							
						{% endfor %}

						{% if pageInfo.totalPages > 1 %}

							<div class="block--news-events--pagination">
							
								<ul class="uk-pagination">

									{% if pageInfo.prevUrl %}

										<li><a href="{{ pageInfo.prevUrl }}">Newer Posts</a></li>

									{% endif %}

									{% if pageInfo.nextUrl %}

										<li><a href="{{ pageInfo.nextUrl }}">Older Posts</a></li>

									{% endif %}

								</ul>
							
							</div>

						{% endif %}

					{% else %}
						
						<div class="grid--article--list-item" uk-grid>

							<div class="article--list-item--copy uk-width-1-1 empty">
								
								<div class="inner--list-item--copy">

									<p>There are currnetly no {{ listType }} in this category.</p>

								</div>

							</div>

						</div>

					{% endif %}
				
				</div>
			
			</div>

			{# Sidebar #}

			<div class="block--sidebar uk-width-1-1 uk-width-1-3@s uk-width-1-3@m uk-flex-first@s">
			
				<div class="inner--sidebar">

					{# Nav #}
					
					{% include "_inc/_sidebar/_nav" with { listType : listType, parent : 'news-events' } %}

					{# Categories #}

					{% include "_inc/_sidebar/_categories" with { listType : listType } %}
			
				</div>
			
			</div>
		
		</div>
	
	</div>

</section>