{# Block - Solutions #}

<section class="section--solutions hide--element" uk-scrollspy="cls: animated show--element fadeIn; delay: 250;">

	{# Heading #}

	{% if block.heading|length %}

		<div class="container--solutions--heading">
		
			<div class="uk-container">
			
				<div class="block--heading block--solutions--heading">
				
					<div class="inner--heading inner--solutions--heading">
					
						{{ block.heading }}
					
					</div>
				
				</div>
			
			</div>
		
		</div>

	{% endif %}

	{# Columns #}

	{% if block.columns|length %}

		{% set columns = block.columns.all() %}

		<div class="container--solutions--cols{% if not block.heading|length %} add-padding{% endif %}" uk-height-match="target: .column-copy;">
	
			<div class="uk-container" uk-height-match="target: .column-heading > h3;">

				<div class="grid--solutions--cols uk-grid-collapse" uk-grid uk-height-match="target: .column-heading;">

					{% for column in columns %}

						<div class="block--solutions--col uk-width-1-1 uk-width-1-3@s">
						
							<div class="inner--solutions--col">

								{# Column Headings #}
							
								{% if column.heading|length or column.subheading|length %}

									<div class="column-heading">
									
										{% if column.heading|length %}

											<h3>{{ column.heading }}</h3>

										{% endif %}

										{% if column.subheading|length %}

											<h4>{{ column.subheading }}</h4>

										{% endif %}
									
									</div>

								{% endif %}

								{# Column Bullet Points #}

								{% if column.copy|length %}

									{% set rows = column.copy %}

									<div class="column-copy uk-visible@s">
									
										<ul>

											{% for row in rows %}

												<li>{{ row.bulletPoint }}</li>
												
											{% endfor %}
										
										</ul>
									
									</div>

								{% endif %}

								{# Column Button #}

								{% if column.button|length %}

									<div class="column-button">

										{% set attributes = {
											class: 'uk-button button--dark-green',
				                            id: ''
				                        } %}

				                        {{ column.button.link(attributes) }}
									
									</div>

								{% endif %}
							
							</div>
						
						</div>
						
					{% endfor %}

				</div>
			
			</div>

		</div>

	{% endif %}

</section>