{# Block - Values #}

<section class="section--values hide--element" uk-scrollspy="cls: animated show--element fadeIn; delay: 250">

	{# Heading #}

	{% if block.heading|length %}

		<div class="container--values--heading">
		
			<div class="uk-container">
			
				<div class="block--heading block--values--heading">
				
					<div class="inner--heading inner--values--heading">
					
						{{ block.heading }}
					
					</div>
				
				</div>
			
			</div>
		
		</div>		

	{% endif %}

	{# Values #}

	{% if block.values|length %}

		{% set values = block.values.all() %}

		<div class="container--values--cols{% if not block.heading|length %} add-padding{% endif %}">
	
			<div class="uk-container">

				<div class="grid--values--cols uk-flex-center" uk-grid uk-height-match="target: .value-img;">

					{% for value in values %}

						<div class="block--values--col uk-width-1-2 uk-width-1-3@s uk-width-1-5@m">
						
							<div class="inner--values--col">

								{# Value Icon #}

								{% if value.icon|length %}

									{% set asset = value.icon.one() %}

									<div class="value--img">

										<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}">
									
									</div>

								{% endif %}

								{# Value Heading #}
							
								{% if value.heading|length %}

									<div class="value--heading">
									
										<h3>{{ value.heading }}</h3>
									
									</div>

								{% endif %}
							
							</div>
						
						</div>
						
					{% endfor %}

				</div>
			
			</div>

		</div>

	{% endif %}

</section>