{# Block: CTAs Banner with Image #}

<section class="section--cta-banner-img {{ pageStyle }} uk-cover-container hide--element" uk-scrollspy="cls: show--element animated fadeIn; delay: 250;">

	{# Background Image #}

	{% if block.bgImg|length %}

		{% set asset = block.bgImg.one() %}
		
		<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" class="cta-banner-img" uk-cover>

	{% endif %}

	<div class="uk-container">

		{# Icon #}

		{% if block.icon|length %}

			<div class="block--icon hide--element" uk-scrollspy="cls: show--element animated fadeInUp; delay: 250;">
			
				{% set asset = block.icon.one() %}
				
				<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" style="max-width: {{ asset.width }}px;">
			
			</div>

		{% endif %}

		{# Call to Actions #}

		{% if block.ctas|length %}

			{% set ctas = block.ctas.all() %}

			<div class="block--ctas">
			
				<div class="grid--ctas uk-flex-center" uk-grid>
				
					{% for cta in ctas %}

						<div class="grid--block uk-width-1-1 uk-width-1-2@s">
						
							<div class="block--cta hide--element" uk-scrollspy="cls: show--element animated fadeInDown; delay: 250;">

								{% set linkUrl = "#" %}

								{% if cta.ctaLink|length %}

									{% set linkUrl = cta.ctaLink.one().getUrl() %}

								{% endif %}

								{% set style = "style--default" %}

								{% if cta.style|length %}

									{% set style = "style--" ~ cta.style.one().slug %}

								{% endif %}
							
								<a href="{{ linkUrl }}" class="link--cta {{ style }}">
											
									{# Label #}

									{% if cta.label|length %}

										<div class="cta--label">
										
											<h2>{{ cta.label }}</h2>
										
										</div>

									{% endif %}

									{# Icon #}
							
									{% if cta.icon|length %}

										{% set asset = cta.icon.one() %}

										<div class="cta--icon uk-visible@m">
										
											<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" style="max-width: {{ asset.width }}px;">
										
										</div>

									{% endif %}

								</a>
							
							</div>
						
						</div>
						
					{% endfor %}
				
				</div>
			
			</div>

		{% endif %}
	
	</div>

</section>