{# Block: CTA Banner #}

<section class="section--cta-banner {{ pageStyle }}">

	<div class="uk-container">

		{# Icon #}

		{% if block.icon|length %}

			<div class="block--icon uk-visible@m hide--element" uk-scrollspy="cls: show--element animated fadeInLeft; delay: 250;">
			
				{% set asset = block.icon.one() %}
				
				<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" style="max-width: {{ asset.width }}px;">
			
			</div>

		{% endif %}
	
		{# Heading #}

		{% if block.heading|length %}

			<div class="block--heading uk-text-center hide--element" uk-scrollspy="cls: show--element animated fadeInUp; delay: 250;">
			
				<h2>{{ block.heading }}</h2>
			
			</div>

		{% endif %}
	
		{# Intro #}

		{% if block.intro|length %}

			<div class="block--intro uk-text-center hide--element" uk-scrollspy="cls: show--element animated fadeInUp; delay: 250;">
			
				{{ block.intro }}
			
			</div>

		{% endif %}

		{# Call to Actions #}

		{% if block.callToActions|length %}

			{% set ctas = block.callToActions.all() %}

			<div class="block--ctas">
			
				<div class="grid--ctas uk-flex-center" uk-grid>
				
					{% for cta in ctas %}

						<div class="grid--block uk-width-1-1 uk-width-1-2@s">
						
							<div class="block--cta hide--element" uk-scrollspy="cls: show--element animated fadeInUp; delay: 250;">

								{% set linkUrl = "#" %}

								{% if cta.ctaLink|length %}

									{% set linkUrl = cta.ctaLink.one().getUrl() %}

								{% endif %}

								{% set style = "style--default" %}

								{% if cta.style|length %}

									{% set style = "style--" ~ cta.style.one().slug %}

								{% endif %}
							
								<a href="{{ linkUrl }}" class="link--cta {{ style }} uk-cover-container">

									{# Image #}

									{% if cta.img|length %}

										{% set asset = cta.img.one() %}

										<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" class="cta--img" uk-cover>

									{% endif %}

									<div class="cta--copy">

										{# Icon #}
								
										{% if cta.icon|length %}

											{% set asset = cta.icon.one() %}

											<div class="cta--icon uk-text-center">
											
												<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" style="max-width: {{ asset.width }}px;">
											
											</div>

										{% endif %}
											
										{# Heading #}

										{% if cta.heading|length %}

											<div class="cta--heading uk-text-center">
											
												<h2>{{ cta.heading }}</h2>
											
											</div>

										{% endif %}

										{# Subheading #}

										{% if cta.subheading|length %}

											<div class="cta--subheading uk-text-center">
											
												<h3>{{ cta.subheading }}</h3>
											
											</div>

										{% endif %}	
									
									</div>

								</a>
							
							</div>
						
						</div>
						
					{% endfor %}
				
				</div>
			
			</div>

		{% endif %}
	
	</div>

</section>