{# Block: Entries List #}

{% if block.entriesList|length %}

	{% set entries = block.entriesList.all() %}

	<section class="section--entries-list {{ pageStyle }}">
	
		<div class="uk-container">
		
			{% for entry in entries %}

				{% set style = "style--default" %}

				{% if entry.styling|length %}

					{% set style = "style--" ~ entry.styling.one().slug %}

				{% endif %}

				<div class="block--entry {{ style }}">

					{# Heading #}

					<div class="block--heading typography--heading hide--element" uk-scrollspy="cls: show--element animated fadeInDown; delay: 250;">
					
						<h2>{{ entry.title }}</h2>
					
					</div>

					<div class="block--content uk-flex uk-flex-right@m">
					
						{# Image #}
					
						{% if entry.img|length %}

							{% set asset = entry.img.one() %}

							{% set thumb = {
							    mode: 'crop',
							    width: 1624,
							    height: 1000,
							    quality: 70,
							    position: 'center-center'
							} %}

							<div class="block--img hide--element" uk-scrollspy="cls: show--element animated fadeInDown; delay: 250;">
							
								<img src="{{ asset.getUrl(thumb) }}" alt="{{ asset.title }}">
							
							</div>
							
						{% endif %}

						{# Copy #}

						<div class="block--copy--outer hide--element" uk-scrollspy="cls: show--element animated fadeInUp; delay: 250;">
						
							<div class="inner--copy">
							
								{# Icon #}

								{% if entry.icon|length %}

									<div class="block--icon">
									
										{% set asset = entry.icon.one() %}
										
										<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" style="max-width: {{ asset.width }}px;">
									
									</div>

								{% endif %}

								{# Copy #}

								{% if entry.introList|length %}

									<div class="block--copy">
									
										{{ entry.introList }}
									
									</div>

								{% endif %}

								{# Button #}

								{% if entry.button|length %}

									<div class="block--button">
									
										{% include "_inc/_elements/_button" with  { button : entry.button, styleClass : 'dark-grey' } %}
									
									</div>

								{% endif %}
							
							</div>
						
						</div>

						{# Address/Contact #}

						{% if entry.addressContact|length %}

							<div class="block--address hide--element" uk-scrollspy="cls: show--element animated fadeInUp; delay: 250;">

								<div class="inner--address">
								
									{{ entry.addressContact }}
								
								</div>
							
							</div>

						{% endif %}
					
					</div>
				
				</div>
				
			{% endfor %}
		
		</div>
	
	</section>

{% endif %}