{# Block: Entries Blocks #}

{% if block.blocks|length %}

	{% set eblocks = block.blocks.all() %}

{% endif %}

<section class="section--entries-blocks {{ pageStyle }}">

	<div class="uk-container">

		{% for eblock in eblocks %}

			{% set style = "style--default" %}

			{% if eblock.style|length %}

				{% set style = "style--" ~ eblock.style.one().slug %}

			{% endif %}

			<div class="block--entry-block {{ style }} layout--{{ eblock.layout }} hide--element" uk-scrollspy="cls: show--element animated fadeInUp; delay: 250;">
			
				<div class="grid--entries-blocks uk-grid-collapse uk-grid-match{% if eblock.layout == "right" %} uk-flex{% endif %}" uk-grid uk-height-match=".block-eblock">

					<div class="grid--block uk-width-1-1 uk-width-1-2@s{% if eblock.layout == "right" %} uk-flex-last@s{% endif %}">

						<div class="block--eblock-img block-eblock uk-cover-container">

							{# Image #}

							{% if eblock.img|length %}

								{% set asset = eblock.img.one() %}

								<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" class="eblock--img" uk-cover>

							{% endif %}

							{# Image Heading #}

							{% if eblock.imgHeading|length %}

								<div class="block--heading">
								
									<h3>{{ eblock.imgHeading }}</h3>
								
								</div>

							{% endif %}

							{# Image Icons #}

							{% if eblock.imgIcons|length %}

								{% set assets = eblock.imgIcons.all() %}

								<div class="block--icons">
								
									{% for asset in assets %}

										<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" style="max-width: {{ asset.width }}px;">
										
									{% endfor %}
								
								</div>

							{% endif %}

						</div>
					
					</div>

					<div class="grid--block uk-width-1-1 uk-width-1-2@s">
					
						<div class="block--eblock-copy block-eblock">
						
							{# Icon #}

							{% if eblock.icon|length %}

								<div class="block--icon">
								
									{% set asset = eblock.icon.one() %}
									
									<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" style="max-width: {{ asset.width }}px;">
								
								</div>

							{% endif %}

							{# Heading #}

							{% if eblock.heading|length %}

								<div class="block--heading">
								
									<h4>{{ eblock.heading }}</h4>
								
								</div>

							{% endif %}

							{# Copy #}

							{% if eblock.intro|length %}

								<div class="block--copy">
								
									{{ eblock.intro }}
								
								</div>

							{% endif %}

							{# Button #}

							{% if eblock.button|length %}

								{% set buttonStyle = 'default' %}

								{% if eblock.style|length %}

									{% set buttonStyle = eblock.style.one().slug %}

								{% endif %}

								<div class="block--button">
								
									{% include "_inc/_elements/_button" with  { button : eblock.button, styleClass : buttonStyle } %}
								
								</div>

							{% endif %}
						
						</div>
					
					</div>
		
				</div>
			
			</div>
			
		{% endfor %}
	
	</div>

</section>