{# Block: Form #}

<section class="section--form {{ pageStyle }}">

	<div class="uk-container">

		{# Heading #}

		{% if block.heading|length %}

			<div class="block--heading uk-text-center">
			
				<h2>{{ block.heading }}</h2>
			
			</div>

		{% endif %}
	
		{# Subheading #}

		{% if block.subheading|length %}

			<div class="block--subheading uk-text-center">
			
				{{ block.subheading }}
			
			</div>

		{% endif %}
	
		{# Form #}

		{% if block.form|length %}

			<div class="block--form">
			
				<div class="inner--form">
				
					{{ craft.freeform.form(block.form.handle).render() }}
				
				</div>
			
			</div>

		{% endif %}
	
	</div>

</section>