{# Block: Gallery #}

{% if block.imgs|length %}

	{% set assets = block.imgs.all() %}

	{% set thumb = {
    	mode: 'crop',
	    width: 720,
	    height: 500,
	    quality: 70,
	    position: 'center-center'
	}%}

	<section class="section--gallery {{ pageStyle }}">
	
		<div class="uk-container">
		
			{# Heading #}

			{% if block.heading|length %}

				<div class="block--heading hide--element" uk-scrollspy="cls: show--element animated fadeInDown; delay: 250;">
				
					<h2>{{ block.heading }}</h2>
				
				</div>

			{% endif %}

			{# Gallery Images #}

			<div class="block--gallery hide--element" uk-scrollspy="cls: show--element animated fadeIn; delay: 250;">
			
				<div class="uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-small" uk-grid uk-lightbox="animation: slide">

					{% for asset in assets %}

						<div>

					        <a class="uk-inline" href="{{ asset.getUrl() }}">

					            <img src="{{ asset.getUrl(thumb) }}" alt="{{ asset.title }}">

					        </a>

					    </div>
						
					{% endfor %}

				</div>
			
			</div>

		</div>
	
	</section>

{% endif %}