{# Block: Intro #}

<section class="section--intro {{ pageStyle }}">

	<div class="uk-container">

		{# Icon #}

		{% if block.icon|length %}

			{% set asset = block.icon.one() %}

			<div class="block--intro--icon hide--elemnt" uk-scrollspy="cls: show--element animated fadeInDown; delay: 250;">
			
				<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" style="max-width: {{ asset.width }}px;">
			
			</div>
			
		{% endif %}

		{# Copy #}

		{% if block.copy|length %}

			<div class="block--intro--copy typography--intro hide--element" uk-scrollspy="cls: show--element animated fadeInUp; delay: 250;">
			
				{{ block.copy }}
			
			</div>

		{% endif %}
	
	</div>

</section>