{# Block: Intro with Image #}

{% if block.copy|length or block.img|length %}

	<section class="section--intro-with-img {{ pageStyle }}">

		<div class="uk-container">

			{% set copyClass = "uk-width-1-1" %}
			{% set imgClass = "uk-width-1-1" %}

			{% if block.img|length %}

				{% set copyClass = "uk-width-1-1 uk-width-3-5@m" %}
				{% set imgClass = "uk-width-1-1 uk-width-2-5@m" %}

			{% endif %}

			<div class="grid--intro-with-img uk-grid-match" uk-grid>
			
				{# Copy #}

				{% if block.copy|length %}

					<div class="grid--block {{ copyClass }} uk-flex uk-flex-middle">
					
						<div class="block--intro-with-img--copy hide-element" uk-scrollspy="cls: show--element animated fadeInUp; delay: 250;">
						
							{{ block.copy }}
						
						</div>
					
					</div>	

				{% endif %}

				{# Image #}

				{% if block.img|length %}

					{% set asset = block.img.one() %}

					<div class="grid--block {{ imgClass }} uk-flex uk-flex-middle">

						<div class="block--intro-with-img--img hide-element" uk-scrollspy="cls: show--element animated fadeIn; delay: 250;">
						
							<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" style="max-width: {{ asset.width }}px;">
						
						</div>

					</div>
					
				{% endif %}

			</div>
		
		</div>

	</section>

{% endif %}