{# Block: Point Columns #}

{% if block.columns|length %}

	{% set columns = block.columns.all() %}

	<section class="section--points-columns {{ pageStyle }}">
	
		<div class="uk-container hide--element" uk-height-match=".block--heading" uk-scrollspy="cls: show--element animated fadeIn; delay: 250;">

			<div class="border"></div>
		
			<div class="grid--points-columns uk-grid-match" uk-grid uk-height-match=".block--copy">

				{% set style = "style--default" %}
			
				{% for column in columns %}

					{% if column.style|length %}

						{% set style = "style--" ~ column.style.one().slug %}

					{% endif %}

					<div class="grid--block uk-width-1-1 uk-width-1-3@m hide--element" uk-scrollspy="cls: show--element animated fadeInUp; delay: 250;">
					
						<div class="block--points-column {{ style }} {% if loop.first %} first{% endif %}">
						
							{# Icon #}

							{% if column.icon|length %}

								{% set asset = column.icon.one() %}

								<div class="block--icon">
								
									<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" style="max-width: {{ asset.width }}px;">
									
								</div>

							{% endif %}

							{# Heading #}

							{% if column.heading|length %}

								<div class="block--heading">
								
									<h2>{{ column.heading }}</h2>
								
								</div>

							{% endif %}

							{# Copy #}

							{% if column.copy|length %}

								<div class="block--copy">
								
									{{ column.copy }}
								
								</div>

							{% endif %}
						
						</div>
					
					</div>

				{% endfor %}
			
			</div>
		
		</div>
	
	</section>

{% endif %}