{# Block: Property List #}

{% if block.propertyListType|length %}

	{% set category = block.propertyListType.one() %}

	{% set propertiesQuery = craft.entries()
	    .section(['properties', 'pubs'])
	    .relatedTo(category)
	%}

	{% set properties = propertiesQuery.all() %}

	{% set thumb = {
	    mode: 'crop',
	    width: 1072,
	    height: 704,
	    quality: 70,
	    position: 'center-center'
	} %}

	<section class="section--property-list {{ pageStyle }}">

		<div class="uk-container">
		
			<div class="grid--property-list uk-grid-small" uk-grid>
			
				{% for property in properties %}

					<div class="grid--block uk-width-1-1 uk-width-1-2@s">
					
						<div class="block--property hide--element" uk-scrollspy="cls: show--element animated fadeInUp; delay: 250;">
						
							<div class="property--title">
							
								<h3>

									{{ property.title }}

									{% if property.location|length %}

										&nbsp;&nbsp;|&nbsp;&nbsp;{{ property.location }}

									{% endif %}

								</h3>
							
							</div>

							<div class="property--img">
							
								{% if property.img|length %}
									
									{% set asset = property.img.one() %}
									
									<img src="{{ asset.getUrl(thumb) }}" alt="{{ asset.title }}">

								{% endif %}
							
							</div>

							<div class="property--button uk-text-center">
							
								<a href="{{ property.getUrl() }}" class="uk-button uk-button-cta">Show me more</a>
							
							</div>
						
						</div>
					
					</div>
					
				{% endfor %}
			
			</div>
		
		</div>

	</section>

{% endif %}

	