{# Block: Property CTA Banner #}

{% set style = "style--default" %}

{% if block.style|length %}

	{% set style = "style--" ~ block.style.one().slug %}

{% endif %}

<section class="section--property-cta-banner {{ style }} hide--element" uk-scrollspy="cls: show--element animated fadeIn; delay: 250;">

	<div class="uk-container">
	
		{# Icon #}

		{% if block.icon|length %}

			<div class="block--icon uk-text-center">
			
				{% set asset = block.icon.one() %}
				
				<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" style="max-width: {{ asset.width }}px;">
			
			</div>

		{% endif %}

		{# Heading #}

		{% if block.heading|length %}

			<div class="block--heading typography--heading uk-text-center">
			
				<h2>{{ block.heading }}</h2>
			
			</div>

		{% endif %}

		{# Button #}

		{% if block.button|length %}

			<div class="block--button uk-text-center">
			
				{% include "_inc/_elements/_button" with  { button : block.button, styleClass : 'cta' } %}
			
			</div>

		{% endif %}
	
	</div>

</section>