{# Block: Text with Images #}

{% if block.copy|length or block.img|length %}

	<section class="section--text-with-imgs {{ pageStyle }}">

		<div class="uk-container">

			{% set copyClass = "uk-width-1-1" %}
			{% set imgClass = "uk-width-1-1" %}

			{% if block.imgs|length %}

				{% set copyClass = "uk-width-1-1 uk-width-1-2@m" %}
				{% set imgClass = "uk-width-1-1 uk-width-1-2@m" %}

			{% endif %}

			<div class="grid--text-with-imgs" uk-grid>
			
				{# Copy #}

				{% if block.copy|length %}

					<div class="grid--block {{ copyClass }} hide--element" uk-scrollspy="cls: show--element animated fadeInUp; delay: 250;">
					
						<div class="block--text-with-imgs--copy">
						
							{{ block.copy }}
						
						</div>
					
					</div>	

				{% endif %}

				{# Image #}

				{% if block.imgs|length %}

					{% set thumb = {
					    mode: 'crop',
					    width: 1072,
					    quality: 70,
					    position: 'center-center'
					} %}

					{% set assets = block.imgs.all() %}

					<div class="grid--block {{ imgClass }} hide--element" uk-scrollspy="cls: show--element animated fadeInUp; delay: 250;">

						<div class="block--text-with-imgs--img" uk-grid="masonry: true">

							{% for asset in assets %}

								<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-1@m">
								
									<img src="{{ asset.getUrl(thumb) }}" alt="{{ asset.title }}">
								
								</div>
								
							{% endfor %}
						
						</div>

					</div>
					
				{% endif %}
				
			</div>
		
		</div>

	</section>

{% endif %}