{# Block: Website CTAs #}

<section class="section--website-ctas {{ pageStyle }}">

	<div class="uk-container">

		{# Subheading #}

		{% if block.subheading|length %}

			<div class="block--subheading hide--element" uk-scrollspy="cls: show--element animated fadeInDown; delay: 250;">
			
				<h3>{{ block.subheading }}</h3>
			
			</div>

		{% endif %}
	
		{# Heading #}

		{% if block.heading|length %}

			<div class="block--heading typography--heading hide--element" uk-scrollspy="cls: show--element animated fadeInDown; delay: 250;">
			
				<h2>{{ block.heading }}</h2>
			
			</div>

		{% endif %}

		{# CTAs #}

		{% if block.ctas|length %}

			{% set ctas = block.ctas.all() %}

			<div class="block--ctas">
			
				<div class="grid--ctas uk-flex-center uk-text-center" uk-grid>
				
					{% for cta in ctas %}

						<div class="grid--block uk-width-1-1 uk-width-1-3@s">
						
							<div class="block--cta hide--element" uk-scrollspy="cls: show--element animated fadeIn; delay: 250;">

								{# Icon #}
								
								{% if cta.icon|length %}

									{% set asset = cta.icon.one() %}

									<div class="cta--icon">
									
										<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" style="max-width: {{ asset.width }}px;">
									
									</div>

								{% endif %}

								{# Button #}

								{% if cta.button|length %}

									<div class="cta--button">
									
										{% include "_inc/_elements/_button" with  { button : cta.button, styleClass : 'white' } %}
									
									</div>

								{% endif %}
							
							</div>
						
						</div>	
						
					{% endfor %}
				
				</div>
			
			</div>

		{% endif %}
	
	</div>

</section>