{# Footer #}

<footer class="footer">

	<div class="block--footer-top">
	
		<div class="uk-container">

			<div class="grid--footer-top" uk-grid>

				{# Address #}

				{% if address.addressGlobal|length %}

					<div class="block--footer-top--left uk-width-1-1 uk-width-1-4@m uk-width-1-5@l">
					
						<div class="inner--footer-top--left">
						
							{{ address.addressGlobal }}
						
						</div>
					
					</div>

				{% endif %}
					
				{# Footer Menu Left #}

				<div class="block--footer-top--left uk-width-1-1 uk-width-1-4@m uk-width-2-5@l">
				
					<div class="inner--footer-top--left">

						<h2>Visit.</h2>

						{% include '_inc/_menus/_footer-left' %}
					
					</div>
				
				</div>

				{# <div class="block--footer-top--center uk-visible@l uk-width-1-5@l">
				
					<div class="inner--footer-top--center">
					
						Footer Menu Right

						{% include '_inc/_menus/_footer-right' %}
					
					</div>
				
				</div> #}

				<div class="block--footer-top--right uk-width-1-1 uk-width-1-2@m uk-width-2-5@l">
				
					<div class="inner--footer-top--right">

						{# Social Media #}

						{% set nodes = craft.navigation.nodes()
						    .handle('footerSocialMedia')
						    .all()
						%}

						{% if nodes|length %}

							<ul class="social-list">

								{% nav node in nodes %}

									<li class="social-el{% if node.active %} uk-active{% endif %}">

										<a href="{{ node.url }}" {% if node.type == null %} uk-toggle{% endif %}>

											{# {{ node.title }} #}

											{% if node.icon|length %}

												{% set asset = node.icon.one() %}

												<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}">

											{% endif %}

										</a>

									</li>

								{% endnav %}

							</ul>

						{% endif %}

					</div>
				
				</div>
			
			</div>		

		</div>
	
	</div>

	<div class="block--footer-bottom">
	
		<div class="uk-container">

			<div class="grid--footer-bottom uk-grid-small" uk-grid>

				{# Footer Menu Bottom #}
			
				<div class="block--footer-bottom--left uk-width-1-1 uk-width-1-2@m">
				
					<div class="inner--footer-bottom--left">

						{% include '_inc/_menus/_footer-bottom' %}

					</div>
				
				</div>

				{# Copyright #}

				<div class="block--footer-bottom--right uk-width-1-1 uk-width-1-2@m">
				
					<div class="inner--footer-bottom--right">
			
						{% if copyright.text|length %}

							<p>{{ copyright.text }}</p>

						{% endif %}

					</div>
				
				</div>
			
			</div>		

		</div>
	
	</div>

</footer>