{# Header #}

<header class="header" uk-sticky="top: 500; animation: uk-animation-slide-top;">

	<div class="uk-container">
	
		{# Navigation Toggle #}

		<div class="block--nav-toggle hide--element" uk-scrollspy="cls: show--element animated fadeIn; delay: 200;">
		
			<a href="#" uk-toggle="target: #offcanvas--menu">

				{% include "_global/_header/_nav-icon-colour" %}

				{# {% if style == "style--green" or style == "style--light-green" %}

					{% include "_global/_header/_nav-icon-colour" %}

				{% else %}
								
					{% include "_global/_header/_nav-icon-white" %}
				
				{# {% endif %} #}

			</a>
		
		</div>
	
	</div>

</header>

{# Menu #}

<div id="offcanvas--menu" class="offcanvas--menu" uk-offcanvas="flip: true; overlay: true; mode: push;">

    <div class="uk-offcanvas-bar">

        {% include '_inc/_menus/_main' %}

    </div>

</div>