{# Activities Page Template #}

{% extends "_layout" %}

{% set templateName = "temp--activities" %}

{% if not entry is defined %}

	{% set entry = craft.entries()
    .section('pages')
    .slug(craft.app.request.getSegment(1))
    .one() %}

{% endif %}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{% set pageStyle = "style--default" %}

{% if entry.styling|length %}

	{% set pageStyle = "style--" ~ entry.styling.one().slug %}

{% endif %}

{% block content %}

    {# Banner #}

    {% include "_inc/_banner" %}

    {# Content Blocks #}

    {% include "_inc/_content-blocks" %}

{% endblock %}