{# Banner: Home Style Banner #}


{# <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: fade">

            <ul class="uk-slideshow-items">
                <li>
                    <img src="images/photo.jpg" alt="" uk-cover>
                </li>
                <li>
                    <img src="images/dark.jpg" alt="" uk-cover>
                </li>
                <li>
                    <img src="images/light.jpg" alt="" uk-cover>
                </li>
            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

        </div> #}

{% if block.slides|length %}

	{% set slides = block.slides.all() %}

	<section class="section--banner-home" uk-height-viewport>

		<div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="autoplay: true; autoplay-interval: 3000; animation: fade; pause-on-hover: false;" uk-height-viewport>

		    {# <div class="uk-slider-container"> #}

		        <ul class="uk-slideshow-items uk-child-width-1-1 hide--element" uk-scrollspy="cls: show--element animated fadeIn; delay: 0;" uk-height-viewport>

		        	{% for slide in slides %}

		        		{% set style = "style--default" %}

						{% if slide.style|length %}

							{% set style = "style--" ~ slide.style.one().slug %}

						{% endif %}

		        		<li class="{{ style }} {# uk-cover-container #} block--banner--slide{% if slide.watercolourBg == 1 %} block--banner--slide-wcbg{% endif %}" >

		        			<div class="inner--banner--slide"></div>
		        			
	        				{# Navigation Toggle

		        			<div class="block--nav-toggle hide--element" uk-scrollspy="cls: show--element animated fadeIn; delay: 200;" uk-sticky="top: 100vh">
		        			
		        				<a href="#" uk-toggle="target: #offcanvas--menu">

		        					{% if style == "style--green" or style == "style--light-green" %}

										{% include "_global/_header/_nav-icon-colour" %}

									{% else %}
										
										{% include "_global/_header/_nav-icon-white" %}

									{% endif %}

		        				</a>
		        			
		        			</div> #}

		        			{# Image #}

							{% if slide.img|length %}

								{% set asset = slide.img.one() %}
								
								<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" class="block--banner--img" uk-cover>

							{% endif %}

							{# Logo #}

							<div class="block--logo hide--element" uk-scrollspy="cls: show--element animated fadeIn; delay: 200;">
							
								{% if style == "style--green" or style == "style--light-green" %}

									{% include "_global/_header/_logo-colour" %}

								{% else %}
									
									{% include "_global/_header/_logo-white" %}

								{% endif %}
							
							</div>

		        			{# Heading #}

							{% set heading = entry.title %}
						
							{% if slide.heading|length %}

								{% set heading = slide.heading %}

							{% endif %}

							<div class="block--heading">
								
								<h1 class="hide--element" uk-scrollspy="cls: show--element animated fadeInLeft; delay: 400;">{{ heading }}</h1>
							
							</div>

							{# Icons #}

							<div class="block-icons hide--element uk-visible@s" uk-scrollspy="cls: show--element animated fadeInUp; delay: 200;">

								{% if style == "style--green" or style == "style--light-green" %}

									{% include "_global/_header/_icons-colour" %}

								{% else %}
									
									{% include "_global/_header/_icons-white" %}

								{% endif %}
							
							</div>

		        		</li>
		        		
		        	{% endfor %}

		        </ul>

		    {# </div> #}

		</div>

	</section>

{% endif %}