{# Banner: Inner Banner Style #}

{% set style = "style--default" %}

{% if block.style|length %}

	{% set style = "style--" ~ block.style.one().slug %}

{% endif %}

<section class="section--banner-inner {{ style }} uk-flex uk-flex-middle uk-flex-center hide--element" uk-height-viewport uk-scrollspy="cls: show--element animated fadeIn; delay: 0;">

	{# Image #}

	{% if block.img|length %}

		{% set asset = block.img.one() %}
		
		<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" class="section--banner-inner--img" uk-cover>

	{% endif %}

	<div class="uk-container">

		<div class="inner--banner--slide"></div>
		        			
		{# Navigation Toggle

		<div class="block--nav-toggle hide--element" uk-scrollspy="cls: show--element animated fadeIn; delay: 200;">
		
			<a href="#" uk-toggle="target: #offcanvas--menu" uk-sticky="top: 100vh">

				{% if style == "style--green" or style == "style--light-green" %}

					{% include "_global/_header/_nav-icon-colour" %}

				{% else %}
					
					{% include "_global/_header/_nav-icon-white" %}

				{% endif %}

			</a>
		
		</div> #}

		{# Logo #}

		<div class="block--logo hide--element" uk-scrollspy="cls: show--element animated fadeIn; delay: 200;">
		
			{% if style == "style--green" or style == "style--light-green" %}

				{% include "_global/_header/_logo-colour" %}

			{% else %}
				
				{% include "_global/_header/_logo-white" %}

			{% endif %}
		
		</div>

		{# Heading #}

		{% set heading = entry.title %}
	
		{% if block.heading|length %}

			{% set heading = block.heading %}

		{% endif %}

		<div class="block--heading">
			
			<h1 class="hide--element" uk-scrollspy="cls: show--element animated fadeInLeft; delay: 400;">{{ heading }}</h1>
		
		</div>
	
	</div>

</section>