{# 404 Page Template #}

{% extends "_layout" %}

{% set templateName = "temp--default" %}

{% set noFollow = 1 %}

{% set metaTitleOveride = "404 Error - " ~ siteName %}

{% block content %}

    {# Block - Banner Thin #}

	<section class="section--banner section--banner-thin">

		<div class="container--banner no-img">
		
			<div class="uk-container">

				{# Heading #}

				<div class="block--banner--heading">

					<div class="inner--banner--heading">
					
						<h1>404 Error</h1>
					
					</div>
				
				</div>

			</div>
		
		</div>

	</section>

	{# Block - Copy & Image #}

	<section class="section--copy-image">

		<div class="uk-container--copy-image">
		
			<div class="uk-container">
				
				<div class="grid--copy-image--content" uk-grid>

					<div class="block--copy-image--copy uk-width-1-1 uk-width-1-2@s uk-width-2-5@m uk-width-1-3@l">
						
						<div class="inner--copy-image--copy">

							<h2>The night is dark and full of terrors...</h2>

							<p>The page you requested could not be found.</p>

						</div>
						
					</div>
				
				</div>

			</div>
		
		</div>

	</section>

	{# Contact #}

    {% include '_inc/_blocks/_contact' %}

	{# Advice Forms #}

	{% include '_inc/_blocks/_adviceForm' %}

{% endblock %}