{# Home Template #}

{% extends "_layout" %}

{% set templateName = "temp-home" %}

{# Contact Scroll Variable #}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{% set pageStyle = "style--default" %}

{% if entry.styling|length %}

	{% set pageStyle = "style--" ~ entry.styling.one().slug %}

{% endif %}

{# Main Block Content #}

{% block content %}

	{# Banner #}

    {% include "_inc/_banner" %}

	{# Content Blocks #}

	{% include '_inc/_content-blocks' %}

{% endblock %}